<a href="https://colab.research.google.com/github/lespmo/data_Science_uno_primeros_pasos/blob/main/Python_Data_Science_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

In [ ]:
print ("mi primera linea de codigo en python")

mi primera linea de codigo en python

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

mi primer texto en notebbok de Colab

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print("¡Hola mundoillo LEEM!")

¡Hola mundoillo LEEM!

In [ ]:
print('hola mundo print con comilla sencilla')

hola mundo print con comilla sencilla

In [ ]:
20

20

In [ ]:
print('mi nombre es Eduardo estoy estudiando en alura cincia de datos')

mi nombre es Eduardo estoy estudiando en alura cincia de datos

In [ ]:
print ('escuela de datos de alura LEEM')

escuela de datos de alura LEEM

In [ ]:
print('Nombre: ')
print('Apellido: ')

Nombre:
Apellido:

In [ ]:
print('E')
print('D')
print('U')
print('A')
print('R')
print('D')
print('O')

E
D
U
A
R
D
O

In [ ]:
print('Fecha :', 28 , 'marzo de ', 2025)

Fecha : 28 marzo de  2025

In [ ]:
print('año actual :', 2025)

año actual : 2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
7

7

In [ ]:
id(7)

10751048

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

In [ ]:
edad=15
Edad = 25
EDAD = 35
_edad = 45
_edad_ = 55
_Edad_ = 7
print(edad, Edad, EDAD, _edad, _edad_, _Edad_)

15 25 35 45 55 7

In [ ]:
id(edad)

10751304

In [ ]:
id(Edad)

10751624

In [ ]:
id(EDAD)

10751944

In [ ]:
id(_edad)

10752264

In [ ]:
id(_edad_)

10752584

In [ ]:
id (_Edad_)

10751048

In [ ]:
id (7)

10751048

In [ ]:
numerosiete = 7

In [ ]:
print(id(_Edad_), id(7), id(numerosiete))

10751048 10751048 10751048

In [ ]:
nombre_alumno = 'Sandra'
print (nombre_alumno)
print (id(nombre_alumno))
print (id('Sandra'))

Sandra
136781188689456
136781188689456

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
# Este es un comentario de una línea
print(10) # Podemos colocar otro comentario en una línea después de un código

10

In [ ]:
'''
Este es un comentario
de varias líneas.
'''


"""
Este es un comentario
de varias líneas.
"""
print(nombre_alumno)

Sandra

# Encabezado de nivel 1
## Encabezado de nivel 2
### Encabezado de nivel 3

**Texto en negritas**



1.   Elemento de lista
2.   Elemento de lista

*Texto en cursiva*

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

* Elemento 1
* Elemento 2
* Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

[Página de Alura](https://www.aluracursos.com/)

In [ ]:
Nombre_Estudiante = 'Penélope Camacho'
Edad_Estudiante = 11
Promedio_Estudiante = 9.75
Aprobado_Estudiante = True

print(Nombre_Estudiante)
print(Edad_Estudiante)
print(Promedio_Estudiante)
print(Aprobado_Estudiante)

Penélope Camacho
11
9.75
True

In [ ]:
print(type(Nombre_Estudiante))
print(type(Edad_Estudiante))
print(type(Promedio_Estudiante))
print(type(Aprobado_Estudiante))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
La_edad = 9
promedio_materia = 4.7
Nombre_trabajador = 'Jorge'
Verdad= True

In [ ]:
type(La_edad)

int

In [ ]:
type(Nombre_trabajador)

str

In [ ]:
type(Nombre_trabajador)

str

In [ ]:
type(Verdad)

bool

In [ ]:
print (La_edad, promedio_materia, Nombre_trabajador, Verdad)

9 4.7 Jorge True

In [ ]:
vigilante_q = 5
vigilante_s = 300
docente_q = 16
docente_s = 500
coordinador_q = 2
coordinador_s = 600

In [ ]:
print ('Cargo | Cantidad | Salario')
print ('Vigilante | 5 | 300')
print ('Docente | 16| 500')
print ('Coordinador| 2 |600')

Cargo | Cantidad | Salario
Vigilante | 5 | 300
Docente | 16| 500
Coordinador| 2 |600

In [ ]:
print ('Cargo | Cantidad | Salario')
print ('Vigilante |', vigilante_q, '|', vigilante_s)
print ('Docente |', docente_q, '|', docente_s)
print ('Coordinador|', coordinador_q, '|', coordinador_s)

Cargo | Cantidad | Salario
Vigilante | 5 | 300
Docente | 16 | 500
Coordinador| 2 | 600

In [ ]:
Empleados_total = vigilante_q + docente_q + coordinador_q
print(Empleados_total)
Empleados_total

23

23

In [ ]:
salarios_diferencia = coordinador_s - vigilante_s
print(salarios_diferencia)
salarios_diferencia

300

300

In [ ]:
salarios_promedio = (vigilante_s * vigilante_q + docente_s * docente_q + coordinador_s * coordinador_q) / (vigilante_q + docente_q + coordinador_q)
print(salarios_promedio)
salarios_promedio

465.2173913043478

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
Persona_texto = '   Micaela de los Sanyos  '
print('Persona:', Persona_texto)
Persona_texto

Persona:    Micaela de los Sanyos

'   Micaela de los Sanyos  '

In [ ]:
id(Persona_texto)

136781000558032

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

In [ ]:
Persona_texto.upper()

'   MICAELA DE LOS SANYOS  '

In [ ]:
Persona_texto.lower()

'   micaela de los sanyos  '

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
Persona_texto.upper()

'   MICAELA DE LOS SANYOS  '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
Persona_texto.lower()

'micaela de los sanyos'

In [ ]:
id(Persona_texto)

136781000558032

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
Persona_texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
Persona_texto.replace('y', 't')

'   Micaela de los Santos  '

In [ ]:
Persona_texto

'   Micaela de los Sanyos  '

In [ ]:
id(Persona_texto)

136781000558032

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
Persona_texto_nuevo = Persona_texto.strip().replace('s', 'y').upper()
print('"', Persona_texto_nuevo, '"')
id(Persona_texto_nuevo)

" MICAELA DE LOY SANYOY "

136781000659936

In [ ]:
print('"', Persona_texto, '"')
id(Persona_texto)

" MICAELA DE LOY SANYOY "

136781000827456

In [ ]:
Persona_texto = Persona_texto.strip().replace('s', 'y').upper()
print('"', Persona_texto, '"')
id(Persona_texto)

" MICAELA DE LOY SANYOY "

136780998957200

In [ ]:
'''
esponeciacion con doble **
'''
2**3

8

In [ ]:
'''
esponeciacion con doble **
tambien aplica con variables
operador
potencia
'''
operador = 2
potencia = 4
operador ** potencia

16

In [ ]:
'''
calcular el módulo de una división, colocamos el dividendo a la izquierda del operador % y el divisor a la derecha.
Por ejemplo, para encontrar el residuo de la división de 11 entre 3
'''

11%3

2

In [ ]:
'''
calcular el módulo de una división, colocamos el dividendo a la izquierda del operador % y el divisor a la derecha.
Por ejemplo, para encontrar el residuo de la división de 11 entre 3 con variables dividendo y divisor
'''
dividendo = 11
divisor = 3
dividendo % divisor

2

In [ ]:
'''
operación devuelve el resultado de la división entera entre dos números, es decir, solo devuelve la parte entera de una división.
Por ejemplo, sabemos que la división exacta de 7 por 3 (7/3) resulta en el valor 2.333333....
Si esta fuera una división entera, el resultado sería simplemente 2.
La sintaxis consiste en colocar el valor del numerador, el operador // y luego el denominador, como se muestra a continuación:
'''

7 // 3

2

In [ ]:
'''
operación devuelve el resultado de la división entera entre dos números, es decir, solo devuelve la parte entera de una división.
Por ejemplo, sabemos que la división exacta de 7 por 3 (7/3) resulta en el valor 2.333333....
Si esta fuera una división entera, el resultado sería simplemente 2.
La sintaxis consiste en colocar el valor del numerador, el operador // y luego el denominador,
pero con las variables numerador y denomineado
como se muestra a continuación:
'''
numerador = 7
denominador = 3
numerador // denominador

2

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
MiPrimer_Nombre = input('¿Cuál es tu priemra vez con nombre en Python? ')
print('Hola', MiPrimer_Nombre)

¿Cuál es tu priemra vez con nombre en Python? Juanita
Hola Juanita

In [ ]:
type(MiPrimer_Nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
admitido_en_año = input('Digita el año de admision a la escuela: ')
print(admitido_en_año)
print(type(admitido_en_año))

Digita el año de admision a la escuela: 2020
2020
<class 'str'>

In [ ]:
egresado_en_año = input('Digita el año de egresado de la escuela: ')
print(egresado_en_año)
print(type(egresado_en_año))

Digita el año de egresado de la escuela: 2025
2025
<class 'str'>

In [ ]:
admitido_en_año + egresado_en_año

'20202025'

In [ ]:
admitido_en_año = int(input('Digita el año de admision a la escuela: '))
print(admitido_en_año)
print(type(admitido_en_año))

Digita el año de admision a la escuela: 2021
2021
<class 'int'>

In [ ]:
egresado_en_año = int(input('Digita el año de egresado de la escuela: '))
print(egresado_en_año)
print(type(egresado_en_año))

Digita el año de egresado de la escuela: 2026
2026
<class 'int'>

In [ ]:
admision_nota = float(input('digita la nota de admision:'))
print (admision_nota)
print (type(admision_nota))

digita la nota de admision:7.1
7.1
<class 'float'>

In [ ]:
print(f'\t EL año de admision fue: {admitido_en_año} \n\t La nota de admision fue: {admision_nota}')

	 EL año de admision fue: 2020
	 La nota de admision fue: 7.1

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\t EL año de admision fue: {admitido_en_año} \n\t La nota de admision fue: {admision_nota}')

	 EL año de admision fue: 2020
	 La nota de admision fue: 7.1

In [ ]:
chr(64)

'@'

In [ ]:
chr(72) + chr(111) +  chr(108) + chr(97)

'Hola'

In [ ]:
nombre = "Anita María"
edad = 19
print(f"El nombre de la nueva alumna es {nombre} y su edad es {edad} años.")

El nombre de la nueva alumna es Anita María y su edad es 19 años.

In [ ]:
Nombre_Alumnioa = 'Penélope Camacho (formato)'
print('Nombre del alumno (formato): %s' %(Nombre_Alumnioa))

Nombre del alumno (formato): Penélope Camacho (formato)

In [ ]:
Nombre_Alumnioa = 'Penélope Camacho formato'
Edad_Alumnioa = 9
Media_Alumnioa = 9.75
print('Nombre del alumno formato es %s, tiene %d años y su media es %f.' %(Nombre_Alumnioa, Edad_Alumnioa, Media_Alumnioa))

Nombre del alumno formato es Penélope Camacho formato, tiene 9 años y su media es 9.750000.

In [ ]:
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(Nombre_Alumnioa, Edad_Alumnioa, Media_Alumnioa))

Nombre del alumno es Penélope Camacho formato, tiene 9 años y su media es 9.75.

In [ ]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

In [ ]:
Nombre_Alumnao = 'Fabricio Daniel formato'
print('Nombre del alumno: {}'.format(Nombre_Alumnao))

Nombre del alumno: Fabricio Daniel formato

In [ ]:
Nombre_Alumnao = 'Fabricio Daniel formato'
Edad_Alumnao = 15
Media_Alumnao = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(Nombre_Alumnao, Edad_Alumnao, Media_Alumnao))

Nombre del alumno es Fabricio Daniel formato, tiene 15 años y su media es 9.95.

In [ ]:
print("Estudiar es un esfuerzo constante el DS,\nEs como cultivar una planta Sana ,\nNecesitamos + dedicación y + paciencia,\nPara ver madurar el fruto de l DS.")

Estudiar es un esfuerzo constante el DS,
Es como cultivar una planta Sana ,
Necesitamos + dedicación y + paciencia,
Para ver madurar el fruto de l DS.

In [ ]:
print('\tTabla primera  \nCantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

	Tabla primera
Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

#****Recopilacion y muestras de datos**

In [ ]:
"""
ejercicios de recopilacion y muestra de datos
"""

Usuario_Nombre = input('Escribe tu nombre de usario')
print('Hola nuevo usuario : ', Usuario_Nombre)

Escribe tu nombre de usarioSandra Bibiana
Hola nuevo usuario :  Sandra Bibiana

In [ ]:
'''
print('Nombre de usuario nuevo es :  %s, tiene %d años y su media es %f.' %(Usuario_Nombre, Edad_Usuario, Media_Usuario))
'''


Usuario_Nombre = input ('Digita nombre de usuario nuevo :')
Edad_Usuario = input ('Digita edad de usuario nuevo :')
Media_Usuario = input ('Digita media  de usuario nuevo :')

print(f'\t Hola \n\t Nuevo usuario : {Usuario_Nombre} \n\t La edad del usuario es: {Edad_Usuario} \n\t la media del usuario es: {Media_Usuario}')

Digita nombre de usuario nuevo :Sandra B
Digita edad de usuario nuevo :16
Digita media  de usuario nuevo :8.5
	 Hola
	 Nuevo usuario : Sandra B
	 La edad del usuario es: 16
	 la media del usuario es: 8.5

In [ ]:
Usuario_NNombre = input ('ingrese su nombre :')
EEdad_Usuario = input ('ingrese su edad :')
Estatura_Usuario = input ('ingrrese su estatura  :')

print(f'\t Hola \n\t {Usuario_NNombre} \n\t tu edad es: {EEdad_Usuario} \n\t tu estatura es {Estatura_Usuario}')

ingrese su nombre :Sandra A
ingrese su edad :19
ingrrese su estatura  :1.65
	 Hola
	 Sandra A
	 tu edad es: 19
	 tu estatura es 1.65

In [ ]:
primer_numero = int(input('Ingrese el primer número: '))
segundo_numero = int(input('Ingrese el segundo número: '))
suma = primer_numero + segundo_numero
print(f'La suma de {primer_numero} y {segundo_numero} es = {suma}.')

Ingrese el primer número: 21
Ingrese el segundo número: 21
La suma de 21 y 21 es = 42.

In [ ]:
primer_numero = int(input('Ingrese el primer número: '))
segundo_numero = int(input('Ingrese el segundo número: '))
tercer_numero = int(input('Ingrese el tercer número: '))
suma = primer_numero + segundo_numero + tercer_numero
print (f'La suma de {primer_numero} + {segundo_numero} + {tercer_numero}es = {suma}.')

Ingrese el primer número: 35
Ingrese el segundo número: 87
Ingrese el tercer número: 54
La suma de 35 + 87 + 54es = 176.

In [ ]:
primer_numero = int(input('Ingrese el primer número: '))
segundo_numero = int(input('Ingrese el segundo número: '))
resta = primer_numero - segundo_numero
print(f'La resta de {primer_numero} y {segundo_numero} es = {resta}.')

Ingrese el primer número: 100
Ingrese el segundo número: 75
La resta de 100 y 75 es = 25.

In [ ]:
primer_numero = int(input('Ingrese el primer número: '))
segundo_numero = int(input('Ingrese el segundo número: '))
miltiplicacion = primer_numero * segundo_numero
print(f'La resta de {primer_numero} y {segundo_numero} es = {miltiplicacion}.')

Ingrese el primer número: 80
Ingrese el segundo número: 30
La resta de 80 y 30 es = 2400.

In [ ]:
Numerador_numero = int(input('Ingese el numerador de la fracción: '))
Denominador_numero = int(input('Ingese el denominador de la fracción: \n\t el denominador NO debe ser 0  :  '))

Devision = Numerador_numero / Denominador_numero
print(f'La division  del numerador {Numerador_numero} yentre el denominador  {Denominador_numero} es = {Devision}.')

Ingese el numerador de la fracción: 6546768
Ingese el denominador de la fracción:
	 el denominador NO debe ser 0  :  3543453
La division  del numerador 6546768 yentre el denominador  3543453 es = 1.8475673305106628.

In [ ]:
BasePot_numero = int(input('Ingese la base de la potencia: '))
ExponentePot_numero = int(input('Ingese el exponente de la potencia: '))
Pot_encia = BasePot_numero ** ExponentePot_numero
print(f'La base de la potencia es  {BasePot_numero} el exponente de la potencia es  {ExponentePot_numero} es = {Pot_encia}.')

Ingese la base de la potencia: 3
Ingese el exponente de la potencia: 3
La base de la potencia es  3 el exponente de la potencia es  3 es = 27.

In [ ]:
Numerador_numero = int(input('Ingese el numerador de la fracción: '))
Denominador_numero = int(input('Ingese el denominador de la fracción: \n\t el denominador NO debe ser 0  :  '))

Devision = Numerador_numero // Denominador_numero
print(f'La division  del numerador {Numerador_numero} yentre el denominador  {Denominador_numero} es = {Devision}.')

Ingese el numerador de la fracción: 654654
Ingese el denominador de la fracción:
	 el denominador NO debe ser 0  :  654
La division  del numerador 654654 yentre el denominador  654 es = 1001.

In [ ]:
Primera_nota = float(input('Ingrese la primera nota: '))
Segunda_nota = float(input('Ingrese la segunda nota: '))
Tercera_nota = float(input('Ingrese la tercera nota: '))
print(f'El promedio de las notas: \n\t primera nota {Primera_nota} \n\t segunda nota {Segunda_nota} \n\t tercera nota {Tercera_nota}\n\t Promedio es = {(Primera_nota + Segunda_nota + Tercera_nota) / 3}' )

Ingrese la primera nota: 6.54
Ingrese la segunda nota: 7.89
Ingrese la tercera nota: 8.98
El promedio de las notas:
	 primera nota 6.54
	 segunda nota 7.89
	 tercera nota 8.98
	 Promedio es = 7.803333333333334

In [ ]:
'''
media poinderada de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.
Calculamos la media ponderada multiplicando los pesos por sus respectivos valores y sumando el resultado de cada multiplicación.
El valor de estas sumas se divide entre la suma total de los pesos. Con el comando print, imprimimos el resultado del cálculo de la media.
'''

print(f'Calculo de media ponderada \n\t Valores 5 12 20 15 \n\t Pesos   1  2  3  4 \n\t La Media ponderada es = {(5 * 1 + 12 * 2 + 20 * 3 + 15 * 4) / (1 + 2 + 3 + 4)}')

Calculo de media ponderada
	 Valores 5 12 20 15
	 Pesos   1  2  3  4
	 La Media ponderada es = 14.9

In [ ]:
PrimeraFrase = 'ciencia de datos y Python'
print(PrimeraFrase)

ciencia de datos y Python

In [ ]:
Pedir_Frase = input('Ingrese una frase: ')
print(Pedir_Frase)

Ingrese una frase: Estudiando Pyton
Estudiando Pyton

In [ ]:
Pedir_Frase = input('Ingrese una frase: ')
print(Pedir_Frase.upper())

Ingrese una frase: hola mundo
HOLA MUNDO

In [ ]:
Pedir_Frase = input('Ingrese una frase: ')
print(Pedir_Frase.lower())

Ingrese una frase: ESTABA AL INVERSO EL MUNDO
estaba al inverso el mundo

In [ ]:
Pedir_Frase = input('Ingrese una frase: ')
print(Pedir_Frase.strip())

Ingrese una frase:   la frase tien varios espacio al inicio y al final
la frase tien varios espacio al inicio y al final

In [ ]:
Pedir_Frase = input('Ingrese una frase: ')
print(Pedir_Frase.strip().lower())

Ingrese una frase:      FRASE CON ESPACION AL INICIO Y AL FINAL  EN MAYUSCULAS
frase con espacion al inicio y al final  en mayusculas

In [ ]:
Pedir_Frase = input('Ingrese una frase: ')
print(f'La frese se cambiaron las vocales "e" por la consonnte "f" \n\t {Pedir_Frase.strip().lower().replace("e", "f")}')

Ingrese una frase:    el espacio esta controlado por  entes no especiales
La frese se cambiaron las vocales "e" por la consonnte "f"
	 fl fspacio fsta controlado por  fntfs no fspfcialfs

In [ ]:
Pedir_Frase = input('Ingrese una frase: ')
print(f'La frese se cambiaron las vocales "a" por la consonnte "@" \n\t {Pedir_Frase.strip().lower().replace("a", chr(64))}')

Ingrese una frase:     la anterior frase cambiaba la e ahora cambia la a , en el espacio y la atmosfera
La frese se cambiaron las vocales "a" por la consonnte "@"
	 l@ @nterior fr@se c@mbi@b@ l@ e @hor@ c@mbi@ l@ @ , en el esp@cio y l@ @tmosfer@

In [ ]:
Pedir_Frase = input('Ingrese una frase: ')
print(f'La frese se cambiaron la consonate "S" por la consonnte "$" \n\t {Pedir_Frase.strip().lower().replace("s", chr(36))}')

Ingrese una frase:      sonido sandra sonia samira samir sonoridad sambo
La frese se cambiaron la consonate "S" por la consonnte "$"
	 $onido $andra $onia $amira $amir $onoridad $ambo

# Estructuras condicionales

In [ ]:
# NOTA DE APROBACION ENTRE 7 Y 10 == NOTA DE APROBACION >= 7
# NOPTE DE REPROBADO ES MENOR A 7 == NOTA DE REPROBADO >7

"""
SI
  NOTA ES MAYOR O IGUAL A 7
        EL ESTUIDANTE APRUEBA
   SINO
        EL ESTUDIANTE REPRUEBA
"""

'\nSI \n  NOTA ES MAYOR O IGUAL A 7\n        EL ESTUIDANTE APRUEBA \n   SINO\n        EL ESTUDIANTE REPRUEBA\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 3 < 9:
  print('3 es menor que 9')

3 es menor que 9

In [ ]:
if 3 > 9:
  print('3 es menor que 9')
print('fin de la consulta')

fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 3 > 9:
  print('3 es menor que 9')
else:
  print('la condicion no se cumple')
print('Fin de la consulta')

la condicion no se cumple
Fin de la consulta

In [ ]:
if 3 < 9:
  print('3 es menor que 9')
else:
  print('la condicion no se cumple')
print('Fin de la consulta')

3 es menor que 9
Fin de la consulta

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria > edad_beatriz:
  print('María es mayor que Beatriz.')
print('Fin de la consulta')

Ingrese la edad de María: 25
Ingrese la edad de Beatriz: 18
María es mayor que Beatriz.

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria < edad_beatriz:
  print('María es menor que Beatriz.')
print('Fin de la consulta')

Ingrese la edad de María: 15
Ingrese la edad de Beatriz: 22
María es menor que Beatriz.
Fin de la consulta

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')
print('Fin de la consulta')

Ingrese la cantidad de empleados de la empresa 1: 580
Ingrese la cantidad de empleados de la empresa 2: 580
La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 <= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.')
print('Fin de la consulta')

Ingrese la cantidad de empleados de la empresa 1: 210
Ingrese la cantidad de empleados de la empresa 2: 210
La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.
Fin de la consulta

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')
print('Fin de la consulta')

Ingrese el título del 1° libro: soledad
Ingrese el título del 2° libro: soledad
Los libros tienen el mismo título.
Fin de la consulta

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 != libro_2:
  print('Los libros tienen títulos diferentes.')
print('Fin de la consulta')

Ingrese el título del 1° libro: azul
Ingrese el título del 2° libro: soledad
Los libros tienen títulos diferentes.
Fin de la consulta

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
Mi_Nota = float(input('Ingrese la nota del estudiante: '))
if Mi_Nota >= 7.0:
  print('El estudiante fue aprobado')
else:
  print('El estudiante fue reprobado')
print('Fin de la consulta')

Ingrese la nota del estudiante: 7.0
El estudiante fue aprobado
Fin de la consulta

In [ ]:
Mi_Nota = float(input('Ingrese la nota del estudiante: '))
if Mi_Nota >= 7.0:
  print('El estudiante fue aprobado')
if 7 > Mi_Nota >= 5:
  print('El estudiante va a recuperacion')
if Mi_Nota < 5:
  print('El estudiante fue reprobado')
print('Fin de la consulta')

Ingrese la nota del estudiante: 3.9
El estudiante fue reprobado
Fin de la consulta

In [ ]:
# codigo con else donde esta errada la evalucion emite dos respuestas


Mi_Nota = float(input('Ingrese la nota del estudiante: '))
if Mi_Nota >= 7.0:
  print('El estudiante fue aprobado')
if 7 > Mi_Nota >= 5:
  print('El estudiante va a recuperacion')
else:
  print('El estudiante fue reprobado')
print('Fin de la consulta')

Ingrese la nota del estudiante: 8
El estudiante fue aprobado
El estudiante fue reprobado
Fin de la consulta

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
Mi_Nota = float(input('Ingrese la nota del estudiante: '))
if Mi_Nota >= 7.0:
  print('El estudiante fue aprobado')
if 7 > Mi_Nota >= 5:
  print('El estudiante va a recuperacion')
if Mi_Nota < 5:
  print('El estudiante fue reprobado')
print('Fin de la consulta')

Ingrese la nota del estudiante: 8
El estudiante fue aprobado
Fin de la consulta

In [ ]:
# codigo con else donde esta errada la evalucion emite dos respuestas


Mi_Nota = float(input('Ingrese la nota del estudiante: '))
if Mi_Nota >= 7.0:
  print('El estudiante fue aprobado')
if 7 > Mi_Nota >= 5:
  print('El estudiante va a recuperacion')
else:
  print('El estudiante fue reprobado')
print('Fin de la consulta')

Ingrese la nota del estudiante: 8
El estudiante fue aprobado
El estudiante fue reprobado
Fin de la consulta

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [ ]:
Mi_Nota = float(input('Ingrese la nota del estudiante: '))
if Mi_Nota >= 7.0:
  print('El estudiante fue aprobado')
if 7 > Mi_Nota >= 5:
  print('El estudiante va a recuperacion')
if Mi_Nota < 5:
  print('El estudiante fue reprobado')
print('Fin de la consulta')

Ingrese la nota del estudiante: 8
El estudiante fue aprobado
Fin de la consulta

In [ ]:
# codigo con else donde esta errada la evalucion emite dos respuestas


Mi_Nota = float(input('Ingrese la nota del estudiante: '))
if Mi_Nota >= 7.0:
  print('El estudiante fue aprobado')
if 7 > Mi_Nota >= 5:
  print('El estudiante va a recuperacion')
else:
  print('El estudiante fue reprobado')
print('Fin de la consulta')

Ingrese la nota del estudiante: 8
El estudiante fue aprobado
El estudiante fue reprobado
Fin de la consulta

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
# codigo con else donde esta errada la evalucion emite dos respuestas, correccin con elif


Mi_Nota = float(input('Ingrese la nota del estudiante: '))
if Mi_Nota >= 7.0:
  print('El estudiante fue aprobado')
elif 7 > Mi_Nota >= 5:
  print('El estudiante va a recuperacion')
else:
  print('El estudiante fue reprobado')
print('Fin de la consulta')

Ingrese la nota del estudiante: 8
El estudiante fue aprobado
Fin de la consulta

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
Verdad = True
Falso = False

In [ ]:
if Verdad and Falso:
  print('Verdadero')
else:
  print('Falso')

Falso

In [ ]:
if Verdad or Falso:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
if not Falso:
  print('Verdadero')
else:
  print('Falso')

Verdadero

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista_uno = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
print(lista_uno)

Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez

In [ ]:
Nombre_uno = 'Miguel Castro'
Nombre_dos = 'Marcelo Noguera'

In [ ]:
if Nombre_uno in lista_uno:
  print(f'El nombre {Nombre_uno} esta en la lista')
else:
  print(f'El nombre {Nombre_uno} no esta en la lista')

El nombre Miguel Castro esta en la lista

In [ ]:
if Nombre_dos in lista_uno:
  print(f'El nombre {Nombre_dos} esta en la lista, aprobado ')
else:
  print(f'El nombre {Nombre_dos} no esta en la lista, reprobado')

El nombre Marcelo Noguera no esta en la lista, reprobado

#**Desafio: ¡Es hora de practicar!**#

In [ ]:
Uno_numero = float(input('Ingrese el primer numero: '))
Dos_numero = float(input('Ingrese el segundo numero: '))
if Uno_numero > Dos_numero:
  print(f'El priemero numero {Uno_numero} es mayor que el segundo numero {Dos_numero}')
elif Uno_numero < Dos_numero:
  print(f'El segundo numero {Dos_numero} es mayor que el primer numero {Uno_numero}')
else:
  print(f'El primer numero {Uno_numero} y el segundo nmero {Dos_numero} son iguales')
print ('Fin de la consulta')

Ingrese el primer numero: 32454.6489
Ingrese el segundo numero: 9865465464.25654
El segundo numero 9865465464.25654 es mayor que el primer numero 32454.6489
Fin de la consulta

In [ ]:
Porcentaje_Crec = float(input('Ingrese el porcentaje de crecimiento: '))
if Porcentaje_Crec > 0:
  print(f'El porcentaje de crecimiento {Porcentaje_Crec}% es positivo')
elif Porcentaje_Crec < 0:
  print(f'El porcentaje de crecimiento {Porcentaje_Crec}% es negativo')
else:
  print(f'El porcentaje de crecimiento {Porcentaje_Crec}% es cero')
print ('Fin de la consulta')

Ingrese el porcentaje de crecimiento: 0
El porcentaje de crecimiento 0.0% es cero
Fin de la consulta

In [ ]:
Letra_usuario = input('Ingrese una letra: ')
if Letra_usuario.lower() in ['a', 'e', 'i', 'o', 'u']:
  print(f'La letra " {Letra_usuario} " es una vocal')
elif Letra_usuario.lower() in ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'll', 'm', 'n', 'ñ','p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']:
  print(f'La letra " {Letra_usuario} " es una consonante')
else:
  print(f'La letra " {Letra_usuario} " no es letra es simbolo')
print ('Fin de la consulta')

Ingrese una letra: Ñ
La letra " Ñ " es una consonante
Fin de la consulta

In [ ]:
Precio_Prom_año_uno = float(input('Ingrese el precio promedio del año 1: '))
Precio_Prom_año_dos = float(input('Ingrese el precio promedio del año 2: '))
Precio_Prom_año_tres = float(input('Ingrese el precio promedio del año 3: '))
if Precio_Prom_año_uno > Precio_Prom_año_dos and Precio_Prom_año_uno > Precio_Prom_año_tres:
  print(f'El precio promedio del año 1 {Precio_Prom_año_uno} es el mayor')
elif Precio_Prom_año_dos > Precio_Prom_año_uno and Precio_Prom_año_dos > Precio_Prom_año_tres:
  print(f'El precio promedio del año 2 {Precio_Prom_año_dos} es el mayor')
elif Precio_Prom_año_tres > Precio_Prom_año_uno and Precio_Prom_año_tres > Precio_Prom_año_dos:
  print(f'El precio promedio del año 3 {Precio_Prom_año_tres} es el mayor')
elif Precio_Prom_año_uno < Precio_Prom_año_dos and Precio_Prom_año_uno < Precio_Prom_año_tres:
  print(f'El precio promedio del año 1 {Precio_Prom_año_uno} es el menor')
elif Precio_Prom_año_dos < Precio_Prom_año_uno and Precio_Prom_año_dos < Precio_Prom_año_tres:
  print(f'El precio promedio del año 2 {Precio_Prom_año_dos} es el menor')
elif Precio_Prom_año_tres > Precio_Prom_año_uno and Precio_Prom_año_tres > Precio_Prom_año_dos:
  print(f'El precio promedio del año 3 {Precio_Prom_año_tres} es el menor')
else:
  print(f'El precio promedio del año 3 {Precio_Prom_año_tres}El precio promedio del año 2 {Precio_Prom_año_dos} El precio promedio del año 1 {Precio_Prom_año_uno} son iguales')
print ('Fin de la consulta')

Ingrese el precio promedio del año 1: 900
Ingrese el precio promedio del año 2: 900
Ingrese el precio promedio del año 3: 900
El precio promedio del año 3 900.0El precio promedio del año 2 900.0 El precio promedio del año 1 900.0 son iguales
Fin de la consulta

In [ ]:
Precio_Prom_año_uno = float(input('Ingrese el precio promedio del año 1: '))
Precio_Prom_año_dos = float(input('Ingrese el precio promedio del año 2: '))
Precio_Prom_año_tres = float(input('Ingrese el precio promedio del año 3: '))
Precio_mayor = max(Precio_Prom_año_uno, Precio_Prom_año_dos, Precio_Prom_año_tres)
print(f'El precio mayor es : {Precio_mayor}')
Precio_menor = min(Precio_Prom_año_uno, Precio_Prom_año_dos, Precio_Prom_año_tres)
print(f'El precio mayor es : {Precio_menor}')
if Precio_Prom_año_dos == Precio_Prom_año_uno and Precio_Prom_año_uno == Precio_Prom_año_tres:
  print(f'El precio promedio del año 3 {Precio_Prom_año_tres}El precio promedio del año 2 {Precio_Prom_año_dos} El precio promedio del año 1 {Precio_Prom_año_uno}')
print ('Fin de la consulta')

Ingrese el precio promedio del año 1: 100.2
Ingrese el precio promedio del año 2: 500.5
Ingrese el precio promedio del año 3: 900.2
El precio mayor es : 900.2
El precio mayor es : 100.2
Fin de la consulta

In [ ]:
Precio_Prom_año_uno = float(input('Ingrese el precio promedio del año 1: '))
Precio_Prom_año_dos = float(input('Ingrese el precio promedio del año 2: '))
Precio_Prom_año_tres = float(input('Ingrese el precio promedio del año 3: '))
Precio_mayor = Precio_Prom_año_uno
if Precio_Prom_año_dos > Precio_mayor:
  Precio_mayor = Precio_Prom_año_dos
if Precio_Prom_año_tres > Precio_mayor:
  Precio_mayor = Precio_Prom_año_tres
Precio_menor = Precio_Prom_año_uno
if Precio_Prom_año_dos < Precio_menor:
  Precio_menor = Precio_Prom_año_dos
if Precio_Prom_año_tres < Precio_menor:
  Precio_menor = Precio_Prom_año_tres
print(f'El precio más alto fue de COP$ {Precio_mayor}.')
print(f'El precio más bajo fue de COP$ {Precio_menor}.')
if Precio_Prom_año_dos == Precio_Prom_año_uno and Precio_Prom_año_uno == Precio_Prom_año_tres:
  print(f'El precio promedio del año 3 {Precio_Prom_año_tres} El precio promedio del año 2 {Precio_Prom_año_dos} El precio promedio del año 1 {Precio_Prom_año_uno} son iguales')
print ('Fin de la consulta')

Ingrese el precio promedio del año 1: 21
Ingrese el precio promedio del año 2: 21
Ingrese el precio promedio del año 3: 1000
El precio más alto fue de R$ 1000.0.
El precio más bajo fue de R$ 21.0.
Fin de la consulta

In [ ]:
Precio_produc_uno = float(input('Ingrese el precio del producto 1: '))
Precio_produc_dos = float(input('Ingrese el precio del producto 2: '))
Precio_produc_tres = float(input('Ingrese el precio del producto 3: '))
if Precio_produc_uno < Precio_produc_dos and Precio_produc_uno < Precio_produc_tres:
  print(f'El producto 1 tiene el menor precio de R$ {Precio_produc_uno}')
elif Precio_produc_dos < Precio_produc_uno and Precio_produc_dos < Precio_produc_tres:
  print(f'El producto 2 tiene el menor precio de COP$ {Precio_produc_dos}')
else:
  print(f'El producto 3 tiene el menor precio de COP$ {Precio_produc_tres}')
print ('Fin de la consulta')

Ingrese el precio del producto 1: 987.25
Ingrese el precio del producto 2: 257.85
Ingrese el precio del producto 3: 101.23
El producto 3 tiene el menor precio de COP$ 101.23
Fin de la consulta

In [ ]:
Num_uno = float(input('Ingrese el primer numero: '))
Num_dos = float(input('Ingrese el segundo numero: '))
Num_tres = float(input('Ingrese el tercer numero: '))

Num_mayor = Num_uno
if Num_dos > Num_mayor:
  Num_mayor = Num_dos
if Num_tres > Num_mayor:
  Num_mayor = Num_tres

num_menor = Num_uno
if Num_dos < num_menor:
  num_menor = Num_dos
if Num_tres < num_menor:
  num_menor = Num_tres

num_medio = Num_uno
if Num_mayor == Num_uno and num_menor == Num_tres:
  num_medio = Num_dos
elif Num_mayor == Num_uno and num_menor == Num_dos:
  num_medio = Num_tres
elif Num_mayor == Num_dos and num_menor == Num_tres:
  num_medio = Num_uno
else:
  print(f'El numero {Num_mayor} > el numero {num_medio} > el numero {num_menor}')


print(f'El numero {Num_mayor} > el numero {num_medio} > el numero {num_menor}')

print('Fin de la consulta')

Ingrese el primer numero: 9.8
Ingrese el segundo numero: 7.5
Ingrese el tercer numero: 6.3
El numero 9.8 > el numero 7.5 > el numero 6.3
Fin de la consulta

In [ ]:
Num_uno = float(input('Ingrese el primer numero: '))
Num_dos = float(input('Ingrese el segundo numero: '))
Num_tres = float(input('Ingrese el tercer numero: '))
if Num_uno > Num_dos and Num_uno > Num_tres:
  if Num_dos > Num_tres:
    print(f'El numero {Num_uno} > el numero {Num_dos} > el numero {Num_tres}')
  else:
    print(f'El numero {Num_uno} > el numero {Num_tres} > el numero {Num_dos}')
elif Num_dos > Num_uno and Num_dos > Num_tres:
  if Num_uno > Num_tres:
    print(f'El numero {Num_dos} > el numero {Num_uno} > el numero {Num_tres}')
  else:
    print(f'El numero {Num_dos} > el numero {Num_tres} > el numero {Num_uno}')
else:
  if Num_uno > Num_dos:
    print(f'El numero {Num_tres} > el numero {Num_uno} > el numero {Num_dos}')
  else:
    print(f'El numero {Num_tres} > el numero {Num_dos} > el numero {Num_uno}')
print('Fin de la consulta')

Ingrese el primer numero: 987.21
Ingrese el segundo numero: 1024.89
Ingrese el tercer numero: 2057.39
El numero 2057.39 > el numero 1024.89 > el numero 987.21
Fin de la consulta

In [ ]:
Turno_trabajo = input('Ecribe el turno de trabajo que te corresponde \n\t Mañana o Tarde o Noche ')
Turno_trabajo = Turno_trabajo.lower().strip()
if Turno_trabajo == 'mañana':
  print (f'el turno ingresado fue "{Turno_trabajo}"')
  print('Buenos dias')
elif Turno_trabajo == 'tarde':
  print (f'el turno ingresado fue "{Turno_trabajo}"')
  print('Buenas tardes')
elif Turno_trabajo == 'noche':
  print (f'el turno ingresado fue "{Turno_trabajo}"')
  print('Buenas noches')
else:
  print('El turno ingersado es incorrecto')
print('Fin de la consulta')

Ecribe el turno de trabajo que te corresponde
	 Mañana o Tarde o Noche  noCHE
el turno ingresado fue "noche"
Buenas noches
Fin de la consulta

In [ ]:
Numero_par_impar = int(input('Ingrrese un numero recuerd que debe ser entero : '))
if Numero_par_impar % 2 == 0:
  print(f'El numero {Numero_par_impar} es un numero par')
else:
  print(f'El numero {Numero_par_impar} es un numero impar')
print('\n\tFin de la consulta')

Ingrrese un numero recuerd que debe ser entero : 15
El numero 15 es un numero impar

	Fin de la consulta

In [ ]:
Numero_entero_decimal = float(input('Ingrrese un numero : '))
if Numero_entero_decimal % 1 == 0:
  print(f'El numero {Numero_entero_decimal} es un numero entero')
else:
  print(f'El numero {Numero_entero_decimal} es un numero decimal')
print('\n\tFin de la consulta')

Ingrrese un numero : 0.22222
El numero 0.22222 es un numero decimal

	Fin de la consulta

In [ ]:
Lado_Trinagulo_uno = float(input('Ingrese el primer lado del triangulo: '))
Lado_Trinagulo_dos = float(input('Ingrese el segundo lado del triangulo: '))
Lado_Trinagulo_tres = float(input('Ingrese el tercer lado del triangulo: '))
if ((Lado_Trinagulo_uno+Lado_Trinagulo_dos) > Lado_Trinagulo_tres) and ((Lado_Trinagulo_uno+Lado_Trinagulo_tres) > Lado_Trinagulo_dos) and ((Lado_Trinagulo_dos + Lado_Trinagulo_tres) > Lado_Trinagulo_uno):
  print('\nLos 7lados ingresados si forman un triangulo es valido')
  if Lado_Trinagulo_uno == Lado_Trinagulo_dos == Lado_Trinagulo_tres:
    print('\nEl triangulo es equilatero')
  elif Lado_Trinagulo_uno == Lado_Trinagulo_dos or Lado_Trinagulo_uno == Lado_Trinagulo_tres or Lado_Trinagulo_dos == Lado_Trinagulo_tres:
    print('\nEl triangulo es isoceles')
  else:
    print('\nEl triangulo es escaleno')
else:
  print('Los lados ingresados no forman un triangulo')
print('\n\tFin de la consulta')

Ingrese el primer lado del triangulo: 7
Ingrese el segundo lado del triangulo: 8
Ingrese el tercer lado del triangulo: 9

Los 7lados ingresados si forman un triangulo es valido

El triangulo es escaleno

	Fin de la consulta

In [ ]:
Litros_combustible_vendidos = float(input('Ingrese la cantidad de litros de combustible: '))
Tipo_combustible = input('Ingrese el tipo de combustible:\n digite "E" para etanol \n digite "D" para DIESEL: ')
Tipo_combustible = Tipo_combustible.upper().strip()
Precio_Etanol_xLitro = 1.70
Precio_Diesel_xLitro = 2.00
Precio_total_Combustible_vendido = 0.00
if Tipo_combustible == 'E' and Litros_combustible_vendidos <= 15:
# Aplica descuento del  2%
  Precio_total_Combustible_vendido = Litros_combustible_vendidos * Precio_Etanol_xLitro*0.98
  print(f'El precio por litro del etanol es COP$ {Precio_Etanol_xLitro}')
  print(f'El precio total a pagar es de COP$ {Precio_total_Combustible_vendido} para etanol con un descuento del 2%')

elif Tipo_combustible == 'E' and Litros_combustible_vendidos > 15:
# Aplica decuento del 4%
  Precio_total_Combustible_vendido = Litros_combustible_vendidos * Precio_Etanol_xLitro*0.96
  print(f'El precio por litro del etanol es COP$ {Precio_Etanol_xLitro}')
  print(f'El precio total a pagar es de COP$ {Precio_total_Combustible_vendido} para etanol con un descuento del 2%')

elif Tipo_combustible == 'D' and Litros_combustible_vendidos <= 15:
# Aplica descuento del  3%
  Precio_total_Combustible_vendido = Litros_combustible_vendidos * Precio_Diesel_xLitro*0.97
  print(f'El precio por litro del diesel es COP$ {Precio_Diesel_xLitro}')
  print(f'El precio total a pagar es de COP$ {Precio_total_Combustible_vendido} para diesel con un descuento del 3%')
elif Tipo_combustible == 'D' and Litros_combustible_vendidos > 15:
# Aplica decuento del 5%
  Precio_total_Combustible_vendido = Litros_combustible_vendidos * Precio_Diesel_xLitro*0.95
  print(f'El precio por litro del diesel es COP$ {Precio_Diesel_xLitro}')
  print(f'El precio total a pagar es de COP$ {Precio_total_Combustible_vendido} para diesel con un descuento del 5%')

else:
  print('No cumple reuisistos de descuento')

print('\n\tFin de la consulta')

Ingrese la cantidad de litros de combustible: 20
Ingrese el tipo de combustible:
 digite "E" para etanol
 digite "D" para DIESEL: E
El precio por litro del etanol es COP$ 1.7
El precio total a pagar es de COP$ 32.64 para etanol con un descuento del 2%

	Fin de la consulta

In [ ]:
CAnt_ventas_2022 = float(input('Ingrese la cantidad de ventas del año 2022: '))
CAnt_ventas_2023 = float(input('Ingrese la cantidad de ventas del año 2023: '))
Variacion_Porcentual = ((CAnt_ventas_2023 - CAnt_ventas_2022) / CAnt_ventas_2022) * 100

print(f'La variacion porcentual entre el año 2022 y 2023 es de {Variacion_Porcentual}%')
if  Variacion_Porcentual > 20:
  print('El año 2023 fue  mas rentable que el 2022 \n\t Gran Bono para el grupoi de ventas')
elif 2 <= Variacion_Porcentual <= 20:
  print('El año 2023 fue poco mas rentable que el 2022 \n\t Pequeño Bono para el grupoi de ventas')
elif 2 > Variacion_Porcentual >= -10:
  print('El año 2023 fue menos rentable que el 2022 \n\t Planificacion de politicas de ventas')
elif -10 > Variacion_Porcentual :
  print('El año 2023 fue menos rentable que el 2022 \n\t Recorte de gastos')
else:
  print('No cumple con varicion ')

print('\n\tFin de la consulta')

Ingrese la cantidad de ventas del año 2022: 200
Ingrese la cantidad de ventas del año 2023: 190
La variacion porcentual entre el año 2022 y 2023 es de -5.0%
El año 2023 fue menos rentable que el 2022
	 Planificacion de politicas de ventas

	Fin de la consulta

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
"""
Promedio de notas de tres estudiante con tres notas
"""

Notaa_1 = float(input('Ingrese la nota del estudiante 1: '))
Notaa_2 = float(input('Ingrese la nota del estudiante 2: '))
Notaa_3 = float(input('Ingrese la nota del estudiante 3: '))

print(f'El promedio de las tres notas del estudiante 1 es = {(Notaa_1+Notaa_2+Notaa_3)/3}')

Notaa_1 = float(input('Ingrese la nota del estudiante 1: '))
Notaa_2 = float(input('Ingrese la nota del estudiante 2: '))
Notaa_3 = float(input('Ingrese la nota del estudiante 3: '))

print(f'El promedio de las tres notas del estudiante 2 es = {(Notaa_1+Notaa_2+Notaa_3)/3}')

Notaa_1 = float(input('Ingrese la nota del estudiante 1: '))
Notaa_2 = float(input('Ingrese la nota del estudiante 2: '))
Notaa_3 = float(input('Ingrese la nota del estudiante 3: '))

print(f'El promedio de las tres notas del estudiante 1 es = {(Notaa_1+Notaa_2+Notaa_3)/3}')


print('\n\tFin de la consulta')

Ingrese la nota del estudiante 1: 2.54
Ingrese la nota del estudiante 2: 3.65
Ingrese la nota del estudiante 3: 4.54
El promedio de las tres notas del estudiante 1 es = 3.5766666666666667
Ingrese la nota del estudiante 1: 4.36
Ingrese la nota del estudiante 2: 2.14
Ingrese la nota del estudiante 3: 3.96
El promedio de las tres notas del estudiante 2 es = 3.486666666666667
Ingrese la nota del estudiante 1: 4.89
Ingrese la nota del estudiante 2: 358
Ingrese la nota del estudiante 3: 4.99
El promedio de las tres notas del estudiante 1 es = 122.62666666666667

	Fin de la consulta

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
Cont_Estudiantes = 1
while Cont_Estudiantes <= 10:
  print(Cont_Estudiantes)
  Cont_Estudiantes += 1
# Cont_Estudiantes = Cont_Estudiantes + 1
print('\n\tFin de la consulta')

1
2
3
4
5
6
7
8
9
10

	Fin de la consulta

In [ ]:
Cont_Estudiantes = 1
Cant_Estudiantes_ingresados  = int(input('Digite la cantidad de estudiantes a consultar :'))
print(f'\n Cantidad de estudiantes ingresados {Cant_Estudiantes_ingresados}')
while Cont_Estudiantes <= Cant_Estudiantes_ingresados:

  print(f'\nIngrese las notas para el estudiante {Cont_Estudiantes}')
  Notaa_1 = float(input('\nIngrese la nota 1 del estudiante' ))
  Notaa_2 = float(input('Ingrese la nota 2 del estudiante' ))
  Notaa_3 = float(input('Ingrese la nota 3 del estudiante' ))
  Cont_Estudiantes += 1

  print(f'\n\tEl promedio de las tres notas del estudiante 1 es = {(Notaa_1+Notaa_2+Notaa_3)/3}')

print(f'\n\tConsulta finalizada para {Cont_Estudiantes-1} estudiantes')

Digite la cantidad de estudiantes a consultar :1

 Cantidad de estudiantes ingresados 1

Ingrese las notas para el estudiante 1

Ingrese la nota 1 del estudiante25
Ingrese la nota 2 del estudiante25
Ingrese la nota 3 del estudiante25

	El promedio de las tres notas del estudiante 1 es = 25.0

	Consulta finalizada para 1 estudiantes

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
precio = 2.00
precio += 3
print(precio)

5.0

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n_contador in range(1,11):
  print(n_contador)
print('\n\tFin de la consulta')

1
2
3
4
5
6
7
8
9
10

	Fin de la consulta

In [ ]:

#Cant_Estudiantes_ingresados  = int(input('Digite la cantidad de estudiantes a consultar :'))
#print(f'\n Cantidad de estudiantes ingresados {Cant_Estudiantes_ingresados}')

for e in range(1,(2+1)):
  print(f'\nIngrese las notas para el estudiante {e}')
print('\n\t Ejacucion de proigrama finalizada')

Ingrese las notas para el estudiante 1

Ingrese las notas para el estudiante 2

	 Ejacucion de proigrama finalizada

In [ ]:
Cant_Estudiantes_ingresados  = int(input('Digite la cantidad de estudiantes a consultar :'))
print(f'\n Cantidad de estudiantes ingresados {Cant_Estudiantes_ingresados}')
for Cont_Estudiantes in range(1,(Cant_Estudiantes_ingresados+1)):
  print(f'\nIngrese las notas para el estudiante {Cont_Estudiantes}')

  Notaa_1 = float(input('\nIngrese la nota 1 del estudiante' ))
  Notaa_2 = float(input('Ingrese la nota 2 del estudiante' ))
  Notaa_3 = float(input('Ingrese la nota 3 del estudiante' ))
  Cont_Estudiantes += 1

  print(f'\n\tEl promedio de las tres notas del estudiante 1 es = {(Notaa_1+Notaa_2+Notaa_3)/3}')

print('\n\t Ejacucion de programa finalizada')

Digite la cantidad de estudiantes a consultar :4

 Cantidad de estudiantes ingresados 4

Ingrese las notas para el estudiante 1

Ingrese la nota 1 del estudiante5
Ingrese la nota 2 del estudiante4
Ingrese la nota 3 del estudiante3

	El promedio de las tres notas del estudiante 1 es = 4.0

Ingrese las notas para el estudiante 2

Ingrese la nota 1 del estudiante5
Ingrese la nota 2 del estudiante4
Ingrese la nota 3 del estudiante3

	El promedio de las tres notas del estudiante 1 es = 4.0

Ingrese las notas para el estudiante 3

Ingrese la nota 1 del estudiante5
Ingrese la nota 2 del estudiante4
Ingrese la nota 3 del estudiante3

	El promedio de las tres notas del estudiante 1 es = 4.0

Ingrese las notas para el estudiante 4

Ingrese la nota 1 del estudiante5
Ingrese la nota 2 del estudiante4
Ingrese la nota 3 del estudiante3

	El promedio de las tres notas del estudiante 1 es = 4.0

	 Ejacucion de programa finalizada

In [ ]:
"""
BUCLES E ITERACIONES CON "continue" y "break" son los comandos de control que podemos usar con los bucles for y while.

sALTA EL 4 Y NO LO IMPRIME
"""
for i in range(1, 10):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9

In [ ]:
"""
BUCLES E ITERACIONES CON "continue" y "break" son los comandos de control que podemos usar con los bucles for y while.

MIENTRAS QUE EL BREAK INTERRUMPE LA EJECUCION
"""

for i in range(1, 10):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

#**Desafío: ¡Es hora de practicar!sECCION 7**

##**Entrenando la programación**

In [ ]:
Numero_entero1 = int(input('Ingrese el numero entero de inicio del rango: '))
Numero_entero2 = int(input('Ingrese el numero entero de fin del rango: '))
print(f'\nEl rango inicia con el numero {Numero_entero1}')
print(f'\nEl rango termina con el numero {Numero_entero2} \n')
for i in range(Numero_entero1,Numero_entero2+1):
  print(i)
print('\n\tFin de la consulta')

Ingrese el numero entero de inicio del rango: 10
Ingrese el numero entero de fin del rango: 15

El rango inicia con el numero 10

El rango termina con el numero 15

10
11
12
13
14
15

	Fin de la consulta

In [ ]:
Numero_entero1_inicio = int(input('Ingrese el numero entero de inicio del rango: '))
Numero_entero2_fin = int(input('Ingrese el numero entero de fin del rango: '))

if Numero_entero1_inicio < Numero_entero2_fin:
  print(f'\nEl rango inicia con el numero {Numero_entero1_inicio}')
  print(f'\nEl rango termina con el numero {Numero_entero2_fin} \n')
  for imprime_numero in range(Numero_entero1_inicio,Numero_entero2_fin+1):
    print(imprime_numero)
  print(f'\nESe imprimieron {Numero_entero2_fin-Numero_entero1_inicio+1}')
elif Numero_entero1_inicio > Numero_entero2_fin:
  print(f'\nEl rango inicia con el numero {Numero_entero2_fin}')
  print(f'\nEl rango termina con el numero {Numero_entero1_inicio} \n')
  for imprime_numero in range(Numero_entero2_fin,Numero_entero1_inicio+1):
    print(imprime_numero)
  print(f'\nESe imprimieron {Numero_entero1_inicio-Numero_entero2_fin+1}')
else:
  print(f'Los numeros ingresados son iguales noel inicio {Numero_entero1_inicio} es = al fin {Numero_entero2_fin}, nos se pueden imprimir el rango')
print('\n\tEjecucion de programa terminada')

Ingrese el numero entero de inicio del rango: 9870
Ingrese el numero entero de fin del rango: 9865

El rango inicia con el numero 9865

El rango termina con el numero 9870

9865
9866
9867
9868
9869
9870

ESe imprimieron 6

	Ejecucion de programa terminada

In [ ]:
Cont_iteracion_dias = 0
Tasa_Crecimiento_A = 0.03
Tasa_Crecimiento_B = 0.015
Num_colonia_A = int(input('Ingrese el numero inicial de elementos de la colonia A: '))
Num_colonia_B = int(input('Ingrese el numero inicial de elementos de la colonia  B: '))
while Num_colonia_A <= Num_colonia_B:
  Num_colonia_A *= Tasa_Crecimiento_A+1
  Num_colonia_B *= Tasa_Crecimiento_B+1
  print(f'\nLa colonia A tiene {Num_colonia_A} elementos')
  print(f'\nLa colonia B tiene {Num_colonia_B} elementos')
  Cont_iteracion_dias += 1
print(f'\n\Los dias en que las colonias A y B crecen hasta igualar o superar en elementos son  {Cont_iteracion_dias} dias')
print('\n\tEjecucion de programa terminada')

Ingrese el numero inicial de elementos de la colonia A: 4
Ingrese el numero inicial de elementos de la colonia  B: 5

La colonia A tiene 4.12 elementos

La colonia B tiene 5.074999999999999 elementos

La colonia A tiene 4.2436 elementos

La colonia B tiene 5.151124999999999 elementos

La colonia A tiene 4.370908 elementos

La colonia B tiene 5.228391874999998 elementos

La colonia A tiene 4.5020352400000005 elementos

La colonia B tiene 5.306817753124998 elementos

La colonia A tiene 4.6370962972 elementos

La colonia B tiene 5.386420019421872 elementos

La colonia A tiene 4.7762091861160005 elementos

La colonia B tiene 5.4672163197131995 elementos

La colonia A tiene 4.919495461699481 elementos

La colonia B tiene 5.549224564508897 elementos

La colonia A tiene 5.0670803255504655 elementos

La colonia B tiene 5.63246293297653 elementos

La colonia A tiene 5.21909273531698 elementos

La colonia B tiene 5.716949876971178 elementos

La colonia A tiene 5.375665517376489 elementos

La colonia B tiene 5.802704125125745 elementos

La colonia A tiene 5.536935482897784 elementos

La colonia B tiene 5.88974468700263 elementos

La colonia A tiene 5.703043547384717 elementos

La colonia B tiene 5.978090857307669 elementos

La colonia A tiene 5.874134853806259 elementos

La colonia B tiene 6.067762220167284 elementos

La colonia A tiene 6.050358899420448 elementos

La colonia B tiene 6.158778653469792 elementos

La colonia A tiene 6.231869666403061 elementos

La colonia B tiene 6.251160333271838 elementos

La colonia A tiene 6.418825756395154 elementos

La colonia B tiene 6.344927738270915 elementos

\Los dias en que las colonias A y B crecen hasta igualar o superar en elementos son  16 dias

	Ejecucion de programa terminada

In [ ]:
CAnt_evaluaciones = int(input('Ingrese la cantidad de alumnos a validar sus notas: '))
for Cant_evaluacion in range(1,CAnt_evaluaciones+1):
  Nota_evaluacion = float(input(f'\tIngrese la nota de la evaluacion para el estudiante {Cant_evaluacion}: '))
  while (0 > Nota_evaluacion) or (Nota_evaluacion > 5):
    Nota_evaluacion = float(input(f'\tLa nota de evaluacion ingresada no es valida {Nota_evaluacion}, debe etar en el rango de 0 a 5. \n\t  vuelva a interntarlo.\n\t Ingrese la nota de la evaluacion para el estudiante {Cant_evaluacion}: '))
    #print(f'\nla nota de evaluacion ingresada no es valida, vuelva a interntarlo ')
  print(f'\tLa nota de evaluacion ingresada es {Nota_evaluacion} para el estudiante {Cant_evaluacion}')
  Cant_evaluacion += 1
print(f'\nFueron verificados {Cant_evaluacion-1} estudiantes')
print('\n\tLas notas y la cantiodad de estudiantes son validas y verificadas')

Ingrese la cantidad de alumnos a validar sus notas: 4
	Ingrese la nota de la evaluacion para el estudiante 1: -1
	La nota de evaluacion ingresada no es valida -1.0, debe etar en el rango de 0 a 5.
	  vuelva a interntarlo.
	 Ingrese la nota de la evaluacion para el estudiante 1: 9
	La nota de evaluacion ingresada no es valida 9.0, debe etar en el rango de 0 a 5.
	  vuelva a interntarlo.
	 Ingrese la nota de la evaluacion para el estudiante 1: 4
	La nota de evaluacion ingresada es 4.0 para el estudiante 1
	Ingrese la nota de la evaluacion para el estudiante 2: 3
	La nota de evaluacion ingresada es 3.0 para el estudiante 2
	Ingrese la nota de la evaluacion para el estudiante 3: 2
	La nota de evaluacion ingresada es 2.0 para el estudiante 3
	Ingrese la nota de la evaluacion para el estudiante 4: 1
	La nota de evaluacion ingresada es 1.0 para el estudiante 4

Fueron verificados 4 estudiantes

	Las notas y la cantiodad de estudiantes son validas y verificadas

In [ ]:
Temperatura_Grados_Celsius = 0
while Temperatura_Grados_Celsius != -273.00:
  Temperatura_Grados_Celsius = float(input('Ingrese la temperatura en grados Celsius: '))
  print(f'la temperatura ingresada es {Temperatura_Grados_Celsius} grados Celsius')
print('\n\tLa ejecucion del programa finalizó por ingrersar temperaruta = a -273.00 Grados CElcius')

Ingrese la temperatura en grados Celsius: 200
la temperatura ingresada es 200.0 grados Celsius
Ingrese la temperatura en grados Celsius: 40
la temperatura ingresada es 40.0 grados Celsius
Ingrese la temperatura en grados Celsius: -273.01
la temperatura ingresada es -273.01 grados Celsius
Ingrese la temperatura en grados Celsius: 273.00
la temperatura ingresada es 273.0 grados Celsius
Ingrese la temperatura en grados Celsius: -273.0
la temperatura ingresada es -273.0 grados Celsius

	La ejecucion del programa finalizó por ingrersar temperaruta = a -273.00 Grados CElcius

In [ ]:
Temperatura_Grados_Celsius = float(input('Ingrese la temperatura en grados Celsius: '))
print(f'la temperatura ingresada es {Temperatura_Grados_Celsius} grados Celsius')
cant_temperaturas_ingresadas = 0
Suma_temperaturas = 0
Promedio_temperaturas = 0

while Temperatura_Grados_Celsius != -273.00:
  Suma_temperaturas += Temperatura_Grados_Celsius
  cant_temperaturas_ingresadas += 1
  Temperatura_Grados_Celsius = float(input('Ingrese la temperatura en grados Celsius: '))
  print(f'la temperatura ingresada es {Temperatura_Grados_Celsius} grados Celsius')



  Promedio_temperaturas = Suma_temperaturas / cant_temperaturas_ingresadas

print(f'\nEl promedio de las {cant_temperaturas_ingresadas-0} temperaturas ingresadas es {Promedio_temperaturas} grados Celsius')
print(f'\nFueron verificados {cant_temperaturas_ingresadas-0} temperaturas')
print('\n\tLa ejecucion del programa finalizó por ingrersar temperaruta = a -273.00 Grados Celcius')

Ingrese la temperatura en grados Celsius: 5
la temperatura ingresada es 5.0 grados Celsius
Ingrese la temperatura en grados Celsius: 10
la temperatura ingresada es 10.0 grados Celsius
Ingrese la temperatura en grados Celsius: 20
la temperatura ingresada es 20.0 grados Celsius
Ingrese la temperatura en grados Celsius: 30
la temperatura ingresada es 30.0 grados Celsius
Ingrese la temperatura en grados Celsius: -273
la temperatura ingresada es -273.0 grados Celsius

El promedio de las 4 temperaturas ingresadas es 16.25 grados Celsius

Fueron verificados 4 temperaturas

	La ejecucion del programa finalizó por ingrersar temperaruta = a -273.00 Grados Celcius

In [ ]:
Numero_factorial = int(input('Digite el numero entero paracalculo de factorial: '))
Cont_numFActorial = Numero_factorial
print(f'\nEl numero ingresado es {Numero_factorial}')
Total_Factorial = 1
while Cont_numFActorial > 0:
  Total_Factorial *= Cont_numFActorial
  Cont_numFActorial -= 1
# print(f'\n El factorial de {Numero_factorial} ')
print(f'El resultado del factorial de {Numero_factorial} es {Total_Factorial} ')
print(f'\n\tTermino el calculo del fatorial de {Numero_factorial} Gracias')

Digite el numero entero paracalculo de factorial: 10

El numero ingresado es 10
El resultado del factorial de 10 es 3628800

	Termino el calculo del fatorial de 10 Gracias

#**Momento de los proyectos**

In [ ]:
Cantidad_Tabla_Multiplicar = int(input(f'ingrese la cantidad de factores a obtener :'))
Numero_Tabla_Multiplicar = int(input(f'ingrese el numero entero para la table de multiplicar :'))

for Tabla_Multiplicar_a in range(1,Cantidad_Tabla_Multiplicar+1):
  while (0 > Numero_Tabla_Multiplicar) or (Numero_Tabla_Multiplicar > 10):
    print(f'\n\t El nuero de la tabla de multiplicar  debe estar entre 1 a 10 \n Vuelva a intertarlo')
    Numero_Tabla_Multiplicar = int(input(f'\n\t ingrese el numero entero para la table de multiplicar :'))
  print(f'{Numero_Tabla_Multiplicar} x {Tabla_Multiplicar_a} = {Numero_Tabla_Multiplicar*Tabla_Multiplicar_a}')
print(f'La anterior es la tabla de multiplicar para el numero {Numero_Tabla_Multiplicar} para {Cantidad_Tabla_Multiplicar} factores')
print(f'\n\tTermino la tabla de multiplicar para el numero {Numero_Tabla_Multiplicar}')

ingrese la cantidad de factores a obtener :11
ingrese el numero entero para la table de multiplicar :9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
La anterior es la tabla de multiplicar para el numero 9 para 11 factores

	Termino la tabla de multiplicar para el numero 9

In [ ]:
Numero_primo = int(input('Digite el numero entero para validar si es primo: '))
print(f'\nEl numero ingresado es {Numero_primo}')
if Numero_primo > 1:
  for cont_primo in range(2,Numero_primo):
    if (Numero_primo % cont_primo) == 0:
      print(f'\nEl numero {Numero_primo} no es primo')
      print(f'\n{Numero_primo} es divisible por {cont_primo}')
      break
  else:
    print(f'\nEl numero {Numero_primo} es primo')
else:
  print(f'\nEl numero {Numero_primo} no es primo')

Digite el numero entero para validar si es primo: 11

El numero ingresado es 11

El numero 11 es primo

In [ ]:
edad_pensionado = int(input('Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): '))
print(f'\nLa edad del pensionado esingresada es  {edad_pensionado}')
cont_rango_0_25 = 0
cont_rango_26_50 = 0
cont_rango_51_75 = 0
cont_rango_76_100 = 0
while edad_pensionado >= 0:
  if 0 <= edad_pensionado <= 25:
    cont_rango_0_25 += 1
  elif 26 <= edad_pensionado <= 50:
    cont_rango_26_50 += 1
  elif 51 <= edad_pensionado <= 75:
    cont_rango_51_75 += 1
  elif 76 <= edad_pensionado <= 100:
    cont_rango_76_100 += 1
  edad_pensionado = int(input('Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): '))
  print(f'\nLa edad del pensionado esingresada es  {edad_pensionado}')
print(f'\n\t Distribucion de edades ingresadas')
print(f'\nRango de edad 0 a 25 años: {cont_rango_0_25} personas')
print(f'\nRango de edad 26 a 50 años: {cont_rango_26_50} personas')
print(f'\nRango de edad 51 a 75 años: {cont_rango_51_75} personas')
print(f'\nRango de edad 76 a 100 años: {cont_rango_76_100} personas')
print(f'\n\tTermino la ejecucion del programa')

Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 10

La edad del pensionado esingresada es  10
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 11

La edad del pensionado esingresada es  11
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 12

La edad del pensionado esingresada es  12
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 26

La edad del pensionado esingresada es  26
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 27

La edad del pensionado esingresada es  27
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 28

La edad del pensionado esingresada es  28
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 50

La edad del pensionado esingresada es  50
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 51

La edad del pensionado esingresada es  51
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 61

La edad del pensionado esingresada es  61
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 75

La edad del pensionado esingresada es  75
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 76

La edad del pensionado esingresada es  76
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 79

La edad del pensionado esingresada es  79
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): 100

La edad del pensionado esingresada es  100
Digite la edad del pensionado (si ingresa un numero negativo se suspende el programa): -1

La edad del pensionado esingresada es  -1

	 Distribucion de edades ingresadas

Rango de edad 0 a 25 años: 3 personas

Rango de edad 26 a 50 años: 4 personas

Rango de edad 51 a 75 años: 3 personas

Rango de edad 76 a 100 años: 3 personas

	Termino la ejecucion del programa

In [ ]:
print('\n\t Instrucciones de votacion \n Cada candidato tiene un munumero asignado de 1, 2, 3 o 4 \n el voto nulo con numero 5 \n el voto en blanco con numero 6' )
Votos_candidato_1 = 0
Votos_candidato_2 = 0
Votos_candidato_3 = 0
Votos_candidato_4 = 0
Votos_nulo_5= 0
Votos_blanco_6 = 0
Contador_Votos = 0
CAntidad_Votos = int(input(f'Digite la cantidad de votos a validar (20): '))

while 0 <= Contador_Votos < CAntidad_Votos:
  Recibir_Voto = int(input(f'Digite su voto en numero entero (entre 1 al 6): '))
  if Recibir_Voto == 1:
    Votos_candidato_1 += 1
    Contador_Votos += 1
  elif Recibir_Voto == 2:
    Votos_candidato_2 += 1
    Contador_Votos += 1
  elif Recibir_Voto == 3:
    Votos_candidato_3 += 1
    Contador_Votos += 1
  elif Recibir_Voto == 4:
    Votos_candidato_4 += 1
    Contador_Votos += 1
  elif Recibir_Voto == 5:
    Votos_nulo_5 += 1
    Contador_Votos += 1
  elif Recibir_Voto == 6:
    Votos_blanco_6 += 1
    Contador_Votos +=1
  else:
    print(f'\n\t El voto ingresado no es valido')

print(f'\n\t Resultados de la votacion')
print(f'\n\tTotal Votos candidato "1": {Votos_candidato_1}')
print(f'\n\tTotal Votos candidato "2": {Votos_candidato_2}')
print(f'\n\tTotal Votos candidato "3": {Votos_candidato_3}')
print(f'\n\tTotal Votos candidato "4": {Votos_candidato_4}')
print(f'\n\tTotal Votos nulos "5": {Votos_nulo_5}')
print(f'\n\tTotal Votos en blanco "6": {Votos_blanco_6}')
print(f'\n\tPorcentaje votos nulos "5": {(Votos_nulo_5/Contador_Votos)*100}')
print(f'\n\tPorcentaje Votos en blanco "6": {(Votos_blanco_6/Contador_Votos)*100}')
print(f'\n\tTotal Votos validos: {Contador_Votos}')
print(f'\n\tTermino la ejecucion del programa de votacion')

	 Instrucciones de votacion
 Cada candidato tiene un munumero asignado de 1, 2, 3 o 4
 el voto nulo con numero 5
 el voto en blanco con numero 6
Digite la cantidad de votos a validar (20): 20
Digite su voto en numero entero (entre 1 al 6): 1
Digite su voto en numero entero (entre 1 al 6): 2
Digite su voto en numero entero (entre 1 al 6): 3
Digite su voto en numero entero (entre 1 al 6): 4
Digite su voto en numero entero (entre 1 al 6): 5
Digite su voto en numero entero (entre 1 al 6): 6
Digite su voto en numero entero (entre 1 al 6): 1
Digite su voto en numero entero (entre 1 al 6): 2
Digite su voto en numero entero (entre 1 al 6): 3
Digite su voto en numero entero (entre 1 al 6): 4
Digite su voto en numero entero (entre 1 al 6): 5
Digite su voto en numero entero (entre 1 al 6): 6
Digite su voto en numero entero (entre 1 al 6): 1
Digite su voto en numero entero (entre 1 al 6): 2
Digite su voto en numero entero (entre 1 al 6): 3
Digite su voto en numero entero (entre 1 al 6): 4
Digite su voto en numero entero (entre 1 al 6): 5
Digite su voto en numero entero (entre 1 al 6): 6
Digite su voto en numero entero (entre 1 al 6): 1
Digite su voto en numero entero (entre 1 al 6): 2

	 Resultados de la votacion

	Total Votos candidato "1": 4

	Total Votos candidato "2": 4

	Total Votos candidato "3": 3

	Total Votos candidato "4": 3

	Total Votos nulos "5": 3

	Total Votos en blanco "6": 3

	Porcentaje votos nulos "5": 15.0

	Porcentaje Votos en blanco "6": 15.0

	Total Votos validos: 20

	Termino la ejecucion del programa de votacion

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
lista[0]

'Penélope Camacho'

In [ ]:
type(lista[0])

str

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for element_lista in lista:
  print(element_lista)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10.0
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [ ]:
promedio_lista = (lista[1]+lista[2]+lista[3])/3
promedio_lista

9.733333333333333

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
promedio_lista = (lista[1]+lista[2]+lista[3])/3
promedio_lista

9.733333333333333

In [ ]:
lenguaje = 'Python'

In [ ]:
print(lenguaje[0], lenguaje[1], lenguaje[2], lenguaje[-3], lenguaje[-2], lenguaje[-1])

P y t h o n

In [ ]:
lenguaje

'Python'

In [ ]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', ' ¿El huevo', ' ¿O fue la serpiente', '']

In [ ]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
len(lista)

5

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[0:2]

['Penélope Camacho', 9.5]

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 10.0]

In [ ]:
lista[3:]

[9.7, True]

In [ ]:
lista[:]

['Penélope Camacho', 9.5, 10.0, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(promedio_lista)
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

In [ ]:
lista.remove([10.0, 8.0, 9.0])
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove(9.733333333333333)

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

In [ ]:
lista.remove(9.733333333333333)
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [ ]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']
razas_de_perros

['Labrador Retriever', 'Bulldog Francés', 'Pastor Alemán', 'Poodle']

In [ ]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

In [ ]:
len(razas_de_perros)

5

In [ ]:
razas_de_perros.pop(1)
razas_de_perros

['Labrador Retriever', 'Pastor Alemán', 'Poodle']

In [ ]:
razas_de_perros.index('Pastor Alemán')

1

In [ ]:
razas_de_perros.sort()
razas_de_perros

['Labrador Retriever', 'Pastor Alemán', 'Poodle']

In [ ]:
razas_de_perros

['Labrador Retriever', 'Bulldog Francés', 'Pastor Alemán', 'Poodle']

In [ ]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
Diccionario_Primero = {'Llave_a_1':1, 'Llave_a_2':2}
Diccionario_Primero

{'Llave_a_1': 1, 'Llave_a_2': 2}

In [ ]:
type(Diccionario_Primero)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
Matricula_Estudiante = {'Matricula':2000168933, 'Dia_Registro':25, 'Mes_Registro':10, 'Grupo':'2E'}
Matricula_Estudiante

{'Matricula': 2000168933,
 'Dia_Registro': 25,
 'Mes_Registro': 10,
 'Grupo': '2E'}

In [ ]:
type(Matricula_Estudiante)

dict

In [ ]:
Matricula_Estudiante

{'Matricula': 2000168933,
 'Dia_Registro': 25,
 'Mes_Registro': 10,
 'Grupo': '2E'}

In [ ]:
Matricula_Estudiante['Matricula']

2000168933

In [ ]:
Matricula_Estudiante['Grupo']

'2E'

In [ ]:
Matricula_Estudiante['Grupo'] = '2G'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
Matricula_Estudiante['Grupo'] = '2G'

In [ ]:
Matricula_Estudiante

{'Matricula': 2000168933,
 'Dia_Registro': 25,
 'Mes_Registro': 10,
 'Grupo': '2G',
 'Gripo': '2G'}

In [ ]:
del Matricula_Estudiante['Gripo']

In [ ]:
Matricula_Estudiante

{'Matricula': 2000168933,
 'Dia_Registro': 25,
 'Mes_Registro': 10,
 'Grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
Matricula_Estudiante['Modalidad'] = 'EAD'

In [ ]:
Matricula_Estudiante

{'Matricula': 2000168933,
 'Dia_Registro': 25,
 'Mes_Registro': 10,
 'Grupo': '2G',
 'Modalidad': 'EAD'}

In [ ]:
type(Matricula_Estudiante)

dict

In [ ]:
len(Matricula_Estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
Matricula_Estudiante

{'Matricula': 2000168933,
 'Dia_Registro': 25,
 'Mes_Registro': 10,
 'Grupo': '2G',
 'Modalidad': 'EAD'}

In [ ]:
Matricula_Estudiante.pop('Grupo')

'2G'

In [ ]:
Matricula_Estudiante

{'Matricula': 2000168933,
 'Dia_Registro': 25,
 'Mes_Registro': 10,
 'Modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
Matricula_Estudiante.items()

dict_items([('Matricula', 2000168933), ('Dia_Registro', 25), ('Mes_Registro', 10), ('Modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
Matricula_Estudiante.keys()

dict_keys(['Matricula', 'Dia_Registro', 'Mes_Registro', 'Modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
Matricula_Estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for Llave_estudiante in Matricula_Estudiante.keys():
  print(Lllave_estudiante)

Modalidad
Modalidad
Modalidad
Modalidad

In [ ]:
for Llave_estudiante,Valor_estudiante in Matricula_Estudiante.items():
  print(Llave_estudiante, ' --> ' ,Valor_estudiante)

Matricula  -->  2000168933
Dia_Registro  -->  25
Mes_Registro  -->  10
Modalidad  -->  EAD

#**Para saber más: listas en diccionarios**

In [ ]:
Tienda_Electrodomesticos = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
Tienda_Electrodomesticos

{'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
 'precios': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
for Electrodomestico_tienda in Tienda_Electrodomesticos['nombres']:
  print(Electrodomestico_tienda)

televisión
celular
notebook
geladeira
estufa

In [ ]:
for Precios_tienda in Tienda_Electrodomesticos['precios']:
  print(Precios_tienda)

2000
1500
3500
4000
1500

In [ ]:
for Clave_tienda, Elementos_tienda in Tienda_Electrodomesticos.items():
  print(f'Clave_lista_ tienda: {Clave_tienda}\n\tElementos_lista_tienda:')
  for Dato_teinda in Elementos_tienda:
    print(f'\t {Dato_teinda}')

Clave_lista_ tienda: nombres
	Elementos_lista_tienda:
	 televisión
	 celular
	 notebook
	 geladeira
	 estufa
Clave_lista_ tienda: precios
	Elementos_lista_tienda:
	 2000
	 1500
	 3500
	 4000
	 1500

#**Para saber más: funciones incorporadas**

In [ ]:
Precios_productos = [100.0, 400.0, 200.0]
suma = sum(Precios_productos)
suma

700.0

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
Lista_numeros = [1,2,3]
dir(Lista_numeros)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#**Desafío: ¡Es hora de practicar! Seccion 5**

In [ ]:
Lista_empresa_papel = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
Lista_empresa_papel

[2172.54,
 3701.35,
 3518.09,
 3456.61,
 3249.38,
 2840.82,
 3891.45,
 3075.26,
 2317.64,
 3219.08]

In [ ]:
# en realidad son gastos no precios
Lista_precios_empresa_papel = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
Suma_precios_empresa_papel = sum(Lista_precios_empresa_papel)
print(f'La suma de precios empresa papel es de {Suma_precios_empresa_papel}')
Cantidad_precios_Emp_Papel = len(Lista_precios_empresa_papel)
print(f'La cantidad de precios de empresa papel es de {Cantidad_precios_Emp_Papel}')
Promedio_precios_Emp_Papel = Suma_precios_empresa_papel/Cantidad_precios_Emp_Papel
print(f'El promedio de precios (gastos) de empresa papel es de {Promedio_precios_Emp_Papel}')

La suma de precios empresa papel es de 31442.22
La cantidad de precios de empresa papel es de 10
El promedio de precios (gastos) de empresa papel es de 3144.222

In [ ]:
Contador_Gastos_Emp_Papel = 0
for Gastos_Emp_Papel in Lista_precios_empresa_papel:
   if Gastos_Emp_Papel>3000.00:
     Contador_Gastos_Emp_Papel += 1
Porcentaje_MAyor_3000 = (Contador_Gastos_Emp_Papel/Cantidad_precios_Emp_Papel)*100
print(f'El porcentaje de gastos mayores a 3000 es de {Porcentaje_MAyor_3000}%')
print(f'La cantidad de gastos mayores a 3000 es de {Contador_Gastos_Emp_Papel} compras de {Cantidad_precios_Emp_Papel} compras')
print(f'\n\tFinaliza el programa')

El porcentaje de gastos mayores a 3000 es de 70.0%
La cantidad de gastos mayores a 3000 es de 7 compras de 10 compras

	Finaliza el programa

In [ ]:
Lista_Numeros_aleatorios = []
Cantidad_numeros_aleatorios = int(input('Digite la cantidad de numeros aleatorios a generar: '))
import random
for Llenar_lista in range (0,Cantidad_numeros_aleatorios):
  Numeros_aleatorios = random.randint(0,10)
  Lista_Numeros_aleatorios.append(Numeros_aleatorios)
print(Lista_Numeros_aleatorios)

Digite la cantidad de numeros aleatorios a generar: 5
[6, 3, 5, 1, 4]

In [ ]:
Lista_Numeros_aleatorios_A = []
Cantidad_numeros_aleatorios = int(input('Digite la cantidad de numeros aleatorios a generar: '))
# import random
for Llenar_lista in range (0,Cantidad_numeros_aleatorios):
  # Numeros_aleatorios = random.randint(0,10)
  Numeros_aleatorios = int(input('Digite un numero aleatorio: '))
# import random
  Lista_Numeros_aleatorios_A.append(Numeros_aleatorios)
print(Lista_Numeros_aleatorios)

Digite la cantidad de numeros aleatorios a generar: 5
Digite un numero aleatorio: 1
Digite un numero aleatorio: 4
Digite un numero aleatorio: 7
Digite un numero aleatorio: 2
Digite un numero aleatorio: 4
[6, 3, 5, 1, 4]

In [ ]:
Lista_Numeros_aleatorios = []
Cantidad_numeros_aleatorios = int(input('Digite la cantidad de numeros aleatorios a generar: '))
import random
for Llenar_lista in range (0,Cantidad_numeros_aleatorios):
  Numeros_aleatorios = random.randint(0,10)
  Lista_Numeros_aleatorios.append(Numeros_aleatorios)
print(Lista_Numeros_aleatorios)
print(f'Lista de Numeros aleatorios: {Lista_Numeros_aleatorios}')
print(f'Lista de Numeros aleatorios invertida : {Lista_Numeros_aleatorios[::-1]}')

Digite la cantidad de numeros aleatorios a generar: 5
[9, 2, 6, 6, 1]
Lista de Numeros aleatorios: [9, 2, 6, 6, 1]
Lista de Numeros aleatorios invertida : [1, 6, 6, 2, 9]

In [ ]:
Lista_numeros_primos = []
Numero_para_primos = int(input(f'ingrese un numero entero para genera sus numeros primos: '))
for Numeros_primos in range(2,Numero_para_primos):
  bandera_primo = True
  # print(f'Numero Primo: {Numeros_primos} \n bandera primo = {bandera_primo} \n numero para primos = {Numero_para_primos}')
  # print(f'Lista primer for  {Lista_numeros_primos}')
  for Cont_primo in range(2,Numeros_primos):
    if (Numeros_primos % Cont_primo) == 0:
      bandera_primo = False
      # print(f'Numero Primo: {Numeros_primos} \n bandera primo = {bandera_primo} \n contador primos  = {Cont_primo}')
      # print(f'Lista segundo  for  {Lista_numeros_primos}')
      break
  if bandera_primo:
     Lista_numeros_primos.append(Numeros_primos)
print(f'Lista general {Lista_numeros_primos}')

ingrese un numero entero para genera sus numeros primos: 22
Lista general [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
"""
if (Verif_dia >= 1) and (Verif_dia <= 31):
  if (Verif_nes >= 1) and (Verif_nes <= 12):
    if (Verif_ano >= 1900) and (Verif_ano <= 2025):
      if Verif_nes == 2:
        if Verif_ano % 4 == 0:
          if Verif_dia <= 29:
            print(f'La fecha es valida')
      print(f'La fecha es valida')
"""

Verif_dia = int(input(f'Digite el dia de la fecha: '))
Verif_mes = int(input(f'Digite el mes de la mes: '))
Verif_ano = int(input(f'Digite el año de la año: '))

if Verif_mes == 2:
  if Verif_ano % 4 == 0 and (Verif_ano % 400 == 0 or Verif_ano % 100 != 0):
    Los_dias_febereo = 29
  else:
    Los_dias_febereo = 28
  if Verif_dia >= 1 and Verif_dia <= Los_dias_febereo:
    print('Fecha verificada válida')
  else:
    print('Fecha verificada inválida')
elif Verif_mes >= 1 in  [1, 3, 5, 7, 8, 10, 12]:
  if Verif_dia >= 1 and Verif_dia <= 31:
    print('Fecha verificada válida')
  else:
    print('Fecha verificada inválida')
elif Verif_mes >= 1 in [4, 6, 9, 11]:
  if Verif_dia >= 1 and Verif_dia <= 30:
    print('Fecha verificada válida')
  else:
    print('Fecha verificada inválida')
else:
  print('Fecha verificada inválida')
print(f'\n\tFinaliza el programa de verificacion de fechas validas, la fecha es dia {Verif_dia} mes {Verif_mes} año {Verif_ano}')

Digite el dia de la fecha: 28
Digite el mes de la mes: 2
Digite el año de la año: 1970
Fecha verificada válida

	Finaliza el programa de verificacion de fechas validas, la fecha es dia 28 mes 2 año 1970

##**Momento para los proyectos**

In [ ]:
Data_Bacterias_xDia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
tipo_lista = type (Data_Bacterias_xDia)
print(tipo_lista)
tipo_elemento = type(Data_Bacterias_xDia[0])
print(tipo_elemento)
longitud_lista = len(Data_Bacterias_xDia)
print(longitud_lista)
for indice_lista in range(0,longitud_lista):
  if indice_lista == 0:

    print(f'El poercentaje de crecimineto en el dia {indice_lista+1} es de {(Data_Bacterias_xDia[indice_lista])*1}%')
  else:
    print(Data_Bacterias_xDia[indice_lista])
    print(f'El poercentaje de crecimineto en el dia {indice_lista+1} es de {((Data_Bacterias_xDia[indice_lista]-Data_Bacterias_xDia[indice_lista-1])/(Data_Bacterias_xDia[indice_lista]))*100}%')
print(f'\n\tFinaliza el programa de crecimiento de bacterias')

<class 'list'>
<class 'float'>
10
El poercentaje de crecimineto en el dia 1 es de 1.2%
2.1
El poercentaje de crecimineto en el dia 2 es de 42.85714285714286%
3.3
El poercentaje de crecimineto en el dia 3 es de 36.36363636363636%
5.0
El poercentaje de crecimineto en el dia 4 es de 34.0%
7.8
El poercentaje de crecimineto en el dia 5 es de 35.8974358974359%
11.3
El poercentaje de crecimineto en el dia 6 es de 30.973451327433633%
16.6
El poercentaje de crecimineto en el dia 7 es de 31.927710843373497%
25.1
El poercentaje de crecimineto en el dia 8 es de 33.86454183266932%
37.8
El poercentaje de crecimineto en el dia 9 es de 33.59788359788359%
56.9
El poercentaje de crecimineto en el dia 10 es de 33.567662565905096%

	Finaliza el programa de crecimiento de bacterias

In [ ]:
Lista_IDs_alimentos = []
Alimento_Dulce = 0
Alimento_Salado = 0
Cantidad_IDs_alimentos = int(input('Digite la cantidad de IDs de alimentos : '))
for LLenar_list_IDs_alimentos in range (0,Cantidad_IDs_alimentos):
  IDs_alimentos = int(input(f'Digite el ID de alimentos numero: {LLenar_list_IDs_alimentos + 1 }  '))
  Lista_IDs_alimentos.append(IDs_alimentos)
for id in Lista_IDs_alimentos:
  if id % 2 == 0:
    Alimento_Dulce +=1
  else:
    Alimento_Salado +=1
print(f'La cantidad de alimentos dulces es de {Alimento_Dulce}')
print(f'La cantidad de alimentos salados es de {Alimento_Salado}')
print(f'\n\tFinaliza el programa de ID alimentos ')

Digite la cantidad de IDs de alimentos : 7
Digite el ID de alimentos numero: 1  1
Digite el ID de alimentos numero: 2  2
Digite el ID de alimentos numero: 3  3
Digite el ID de alimentos numero: 4  4
Digite el ID de alimentos numero: 5  5
Digite el ID de alimentos numero: 6  6
Digite el ID de alimentos numero: 7  7
La cantidad de alimentos dulces es de 3
La cantidad de alimentos salados es de 4

	Finaliza el programa de ID alimentos

In [ ]:
Hoja_respuetas = []
Respuestas_Gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
Resumen_nota = 0
Cantidad_notas_examen = len(Respuestas_Gabarito)
Cantidad_respuestas_examen = 0
for CAnt_not_exam in range(0,Cantidad_notas_examen):
  Hoja_respuetas.append(input(f'Digite la respuesta numero {CAnt_not_exam + 1} : ').upper())
  Cantidad_respuestas_examen = len(Hoja_respuetas)
if Cantidad_notas_examen == Cantidad_respuestas_examen:
  for Nota_examen in range(0,Cantidad_notas_examen):
    if Hoja_respuetas[Nota_examen] == Respuestas_Gabarito[Nota_examen]:
      Resumen_nota += 1
for id in Hoja_respuetas:
  print(f'la respuesta ingresada es:{id} ')
for id in Respuestas_Gabarito:
  print(f'\tla respuesta correcta es:{id}')
print(f'La nota del examen es de {Resumen_nota}')
print(f'LAs repuestas correctas son   : {Respuestas_Gabarito}')
print(f'LAs repuestas del alumnos son : {Hoja_respuetas}')
print(f'\n\tFinaliza el programa de examen')

Digite la respuesta numero 1 : b
Digite la respuesta numero 2 : b
Digite la respuesta numero 3 : b
Digite la respuesta numero 4 : b
Digite la respuesta numero 5 : b
Digite la respuesta numero 6 : b
Digite la respuesta numero 7 : b
Digite la respuesta numero 8 : b
Digite la respuesta numero 9 : b
Digite la respuesta numero 10 : b
la respuesta ingresada es:B
la respuesta ingresada es:B
la respuesta ingresada es:B
la respuesta ingresada es:B
la respuesta ingresada es:B
la respuesta ingresada es:B
la respuesta ingresada es:B
la respuesta ingresada es:B
la respuesta ingresada es:B
la respuesta ingresada es:B
	la respuesta correcta es:D
	la respuesta correcta es:A
	la respuesta correcta es:C
	la respuesta correcta es:B
	la respuesta correcta es:A
	la respuesta correcta es:D
	la respuesta correcta es:C
	la respuesta correcta es:C
	la respuesta correcta es:A
	la respuesta correcta es:B
La nota del examen es de 2
LAs repuestas correctas son   : ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
LAs repuestas del alumnos son : ['B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B']

	Finaliza el programa de examen

In [ ]:
lista_temperaturas_medias = []
Meses_del_año = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
for Index_temperatura_media in range (0,12):

  lista_temperaturas_medias.append(float(input(f'Digite temperatura media el mes {Index_temperatura_media + 1} del año es :' )))

for Index_tem_mayor_prom in range (0,12):


  if lista_temperaturas_medias[Index_tem_mayor_prom]>Temperatura_promedio_anual:
      ## print (f'{lista_temperaturas_medias[Index_temperatura_media]} y {Index_tem_mayor_prom}')
   print(f'EL mes {Meses_del_año[Index_tem_mayor_prom]} con una temperatura de {lista_temperaturas_medias[Index_tem_mayor_prom]} mayor al promedio {Temperatura_promedio_anual}')
    ## print(f'EL mes {Meses_del_año[Index_tem_mayor_prom]} con una temperatura de {lista_temperaturas_medias[Index_tem_mayor_prom ]} mayor al promedio {Temperatura_promedio_anual}')

print(f'\n\tFinaliza el programa de temperatura')

"""
      temperaturas_medias = float(input(f'Digite temperatura media el mes {Index_temperatura_media + 1} del año es :' ))
      lista_temperaturas_medias.append(temperaturas_medias)

"""
"""
print(lista_temperaturas_medias)
Temperatura_promedio_anual = sum(lista_temperaturas_medias)/len(lista_temperaturas_medias)
print(f'La temperatura promedio anual es de {Temperatura_promedio_anual}')
print(f'Los meses con temperatura por encima del promedio anual son:')
print(lista_temperaturas_medias)
print(Meses_del_año)
print(type(lista_temperaturas_medias[10]))
print(type(Meses_del_año[10]))
"""
"""
  print ("  elemento  " + str(lista_temperaturas_medias[Index_tem_mayor_prom]) + "  posicion  " + str(Index_tem_mayor_prom))
  print(type(lista_temperaturas_medias[Index_tem_mayor_prom]))
  print(type(Meses_del_año[Index_tem_mayor_prom]))
  print (Index_tem_mayor_prom)
  elemnto_lista = lista_temperaturas_medias[Index_tem_mayor_prom]
  print(elemnto_lista)
  print(type(elemnto_lista))
"""

Digite temperatura media el mes 1 del año es :25.10
Digite temperatura media el mes 2 del año es :25.10
Digite temperatura media el mes 3 del año es :25
Digite temperatura media el mes 4 del año es :10
Digite temperatura media el mes 5 del año es :2587.21
Digite temperatura media el mes 6 del año es :454.455
Digite temperatura media el mes 7 del año es :45412.14
Digite temperatura media el mes 8 del año es :41452.44
Digite temperatura media el mes 9 del año es :44545.121
Digite temperatura media el mes 10 del año es :1424.454
Digite temperatura media el mes 11 del año es :128532.44
Digite temperatura media el mes 12 del año es :121.454
EL mes Mayo con una temperatura de 2587.21 mayor al promedio 65.0
EL mes Junio con una temperatura de 454.455 mayor al promedio 65.0
EL mes Julio con una temperatura de 45412.14 mayor al promedio 65.0
EL mes Agosto con una temperatura de 41452.44 mayor al promedio 65.0
EL mes Septiembre con una temperatura de 44545.121 mayor al promedio 65.0
EL mes Octubre con una temperatura de 1424.454 mayor al promedio 65.0
EL mes Noviembre con una temperatura de 128532.44 mayor al promedio 65.0
EL mes Diciembre con una temperatura de 121.454 mayor al promedio 65.0

	Finaliza el programa de temperatura

'\n  print ("  elemento  " + str(lista_temperaturas_medias[Index_tem_mayor_prom]) + "  posicion  " + str(Index_tem_mayor_prom))\n  print(type(lista_temperaturas_medias[Index_tem_mayor_prom]))\n  print(type(Meses_del_año[Index_tem_mayor_prom]))\n  print (Index_tem_mayor_prom)\n  elemnto_lista = lista_temperaturas_medias[Index_tem_mayor_prom]\n  print(elemnto_lista)\n  print(type(elemnto_lista))\n'

In [ ]:
my_list = ['Pedro', 'Chris', 'Mario', 'Bob']

for i in range(0, len(my_list)):
    print("La posición es " + str(i) + " para el elemento " + my_list[i])

La posición es 0 para el elemento Pedro
La posición es 1 para el elemento Chris
La posición es 2 para el elemento Mario
La posición es 3 para el elemento Bob

In [ ]:
suma_tot_ventas = 0.0
Unidades_Product_mas_vendido = 0.0
Producto_mas_vendido = ''
Comer_electro_ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}
print('\n\t PRODUCTO \tCANTIDAD VENTAS')
for Cont_producto in Comer_electro_ventas.keys():
  ##print(f'\n\tDiccionario {Comer_electro_ventas.items()}')
  print(f'\t {Cont_producto}\t  {Comer_electro_ventas[Cont_producto]}')
  ##print(f'\n\tDiccionario {Comer_electro_ventas[Cont_producto]}')
  suma_tot_ventas += Comer_electro_ventas[Cont_producto]
  if Comer_electro_ventas[Cont_producto] > Unidades_Product_mas_vendido:
    Unidades_Product_mas_vendido = Comer_electro_ventas[Cont_producto]
    Producto_mas_vendido = Cont_producto

print(f'\n\tLa suma total de ventas es de {suma_tot_ventas}')
print(f'\n\tEl producto mas vendido es {Producto_mas_vendido} con {Unidades_Product_mas_vendido} Unidades')
print(f'\n\tFinaliza el programa de ventas')

	 PRODUCTO 	CANTIDAD VENTAS
	 Producto A	  300
	 Producto B	  80
	 Producto C	  60
	 Producto D	  200
	 Producto E	  250
	 Producto F	  30

	La suma total de ventas es de 920.0

	El producto mas vendido es Producto A con 300 Unidades

	Finaliza el programa de ventas

In [ ]:
Car_Brasnds = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

CArs_marca = Car_Brasnds.keys()

print(CArs_marca)

dict_keys(['brand', 'model', 'year'])

In [ ]:
suma_tot_votos = 0.0
Tienda_mayor_votos =''
Votos_tienda_mayor_votos = 0.0
Tienda_infantil_Votos = {'Diseño 1': 1334.0, 'Diseño 2': 982.0, 'Diseño 3': 1751.0, 'Diseño 4': 210.0, 'Diseño 5': 1811.0}
print('Tabla de votos tienda infantil por diseño \n\tDISEÑO \t       CANT VOTOS')
for Cont_votos in Tienda_infantil_Votos.keys():
  suma_tot_votos += Tienda_infantil_Votos[Cont_votos]
  if Tienda_infantil_Votos[Cont_votos] == max(Tienda_infantil_Votos.values()):
    Tienda_mayor_votos = Cont_votos
    Votos_tienda_mayor_votos = Tienda_infantil_Votos[Cont_votos]

  print(f'\t{Cont_votos}\t {Tienda_infantil_Votos[Cont_votos]}')
print(f'\n\tLa suma total de votos es de {suma_tot_votos}')
## print(f'\n\tEl diseño ganador es {Cont_votos} con {Tienda_infantil_Votos[Cont_votos]} votos')
print(f'\n\tEl diseño ganador es {Tienda_mayor_votos} con {Votos_tienda_mayor_votos} votos')
porcentaje_Tmayor_votos = (Votos_tienda_mayor_votos/suma_tot_votos)*100
print(f'\n\tEl porcentaje de votos del diseño ganador es de {porcentaje_Tmayor_votos}%')

print(f'\n\tFinaliza el programa de votos')

Tabla de votos tienda infantil por diseño
	DISEÑO 	       CANT VOTOS
	Diseño 1	 1334.0
	Diseño 2	 982.0
	Diseño 3	 1751.0
	Diseño 4	 210.0
	Diseño 5	 1811.0

	La suma total de votos es de 6088.0

	El diseño ganador es Diseño 5 con 1811.0 votos

	El porcentaje de votos del diseño ganador es de 29.747043363994745%

	Finaliza el programa de votos

In [ ]:
suma_tot_votos = 0.0
Tienda_mayor_votos =''
Votos_tienda_mayor_votos = 0.0
Tienda_infantil_Votos = {'Diseño 1': 1334.0, 'Diseño 2': 982.0, 'Diseño 3': 1751.0, 'Diseño 4': 210.0, 'Diseño 5': 1811.0}
print('Tabla de votos tienda infantil por diseño \n\tDISEÑO \t       CANT VOTOS')
for Cont_votos, diseño_votos in Tienda_infantil_Votos.items():
  suma_tot_votos += diseño_votos
  if diseño_votos > Votos_tienda_mayor_votos:
    Tienda_mayor_votos = Cont_votos
    Votos_tienda_mayor_votos = diseño_votos

  print(f'\t{Cont_votos}\t {diseño_votos}')
  # print(f'\t{Cont_votos}\t {Tienda_infantil_Votos[Cont_votos]}')
print(f'\n\tLa suma total de votos es de {suma_tot_votos}')
## print(f'\n\tEl diseño ganador es {Cont_votos} con {Tienda_infantil_Votos[Cont_votos]} votos')
print(f'\n\tEl diseño ganador es {Tienda_mayor_votos} con {Votos_tienda_mayor_votos} votos')
porcentaje_Tmayor_votos = (Votos_tienda_mayor_votos/suma_tot_votos)*100
print(f'\n\tEl porcentaje de votos del diseño ganador es de {porcentaje_Tmayor_votos}%')


print(f'\n\tFinaliza el programa de votos')

Tabla de votos tienda infantil por diseño
	DISEÑO 	       CANT VOTOS
	Diseño 1	 1334.0
	Diseño 2	 982.0
	Diseño 3	 1751.0
	Diseño 4	 210.0
	Diseño 5	 1811.0

	La suma total de votos es de 6088.0

	El diseño ganador es Diseño 5 con 1811.0 votos

	El porcentaje de votos del diseño ganador es de 29.747043363994745%

	Finaliza el programa de votos

In [ ]:
Bono_Comision_salario = 0.00
Minimo_Abono = 0.0
MAyor_Abono = 0.0
Total_Abono = 0.0

Salario_Bono_lista = [1172.0, 1644.0, 2617.0, 5130.0, 5532.0, 6341.0, 6650.0, 7238.0, 7685.0, 7782.0, 7903.0]
## Salarios_Bono_lista.sort()
## Salarios_Bono_lista
Salario_Bono_L_diccionario = {}
for Cont_bono_lista in Salario_Bono_lista:
  Bono_Comision_salario = (Cont_bono_lista * 0.10)
  ## Salario_Bono_L_diccionario[Cont_bono_lista] = Bono_Comision_salario
  if  Bono_Comision_salario < 200.0:
     Bono_Comision_salario = 200.0
  Salario_Bono_L_diccionario[Cont_bono_lista] = Salario_Bono_L_diccionario.get(Cont_bono_lista, 0)  + Bono_Comision_salario
print('Tabla de salarios y bonos \n\t SALARIO  \t       BONIFICACION\n')
for Cont_bono_lista, bono_10X100 in Salario_Bono_L_diccionario.items():
    print(f'\t$ {Cont_bono_lista}  COP\t ${bono_10X100}  COP')
for Cont_abono_lista in Salario_Bono_L_diccionario.values():
  if Cont_abono_lista == 200.0:
    Minimo_Abono +=1
  if Cont_abono_lista > MAyor_Abono:
    MAyor_Abono = Cont_abono_lista
  Total_Abono += Cont_abono_lista

print(f'\n\nDccionario de bonos: {Salario_Bono_L_diccionario}')
print(f'\nTotal de gastos en bonos: {Total_Abono}')
print(f'\nNúmero empleados que recibieron el bono mínimo: {Minimo_Abono}')
print(f'\nValor del Mayor_bono: {MAyor_Abono}')

print(f'\n\tFinaliza el programa de bpmnpd de 10% en salarios')



##Salario_Bono_L_diccionario[Cont_bono_lista] = Salario_Bono_L_diccionario.get(Cont_bono_lista, 0) + 1
#print(Salario_Bono_L_diccionario)

Tabla de salarios y bonos
	 SALARIO  	       BONIFICACION

	$ 1172.0  COP	 $200.0  COP
	$ 1644.0  COP	 $200.0  COP
	$ 2617.0  COP	 $261.7  COP
	$ 5130.0  COP	 $513.0  COP
	$ 5532.0  COP	 $553.2  COP
	$ 6341.0  COP	 $634.1  COP
	$ 6650.0  COP	 $665.0  COP
	$ 7238.0  COP	 $723.8000000000001  COP
	$ 7685.0  COP	 $768.5  COP
	$ 7782.0  COP	 $778.2  COP
	$ 7903.0  COP	 $790.3000000000001  COP


Dccionario de bonos: {1172.0: 200.0, 1644.0: 200.0, 2617.0: 261.7, 5130.0: 513.0, 5532.0: 553.2, 6341.0: 634.1, 6650.0: 665.0, 7238.0: 723.8000000000001, 7685.0: 768.5, 7782.0: 778.2, 7903.0: 790.3000000000001}

Total de gastos en bonos: 6087.8

Número empleados que recibieron el bono mínimo: 2.0

Valor del Mayor_bono: 790.3000000000001

	Finaliza el programa de bpmnpd de 10% en salarios

In [ ]:
Dicc_Div_biologicaxArea = {'Área Norte': [2819.0, 7236.0], 'Área Leste': [1440.0, 9492.0], 'Área Sul': [5969.0, 7496.0], 'Área Oeste': [14446.0, 49688.0], 'Área Centro': [22558.0, 45148.0]}
## print(Dicc_Div_biologicaxArea)
Suma_promedios_especies = 0.0
Diversidad_Mayor = ''
Suma_mayor = 0
for Area_biologica, Diversidad_biologica in Dicc_Div_biologicaxArea.items():
  Suma_diversidad_biologica = sum(Diversidad_biologica)
  Media_especies_biologicas = Suma_diversidad_biologica/len(Diversidad_biologica)
  print(f'\n\tEl {Area_biologica}\ten plantas y animales {Diversidad_biologica}\ttiene una suma de {Suma_diversidad_biologica}\t y una media de {Media_especies_biologicas}')

  if Suma_diversidad_biologica  > Suma_mayor:
        Suma_mayor = Suma_diversidad_biologica
        Diversidad_Mayor = Area_biologica
    # Sumamos los promedios
  Suma_promedios_especies += Media_especies_biologicas
Media_Total = Suma_promedios_especies / len(Dicc_Div_biologicaxArea)
print(f'\n\t Media general de especies: {Media_Total}')
print(f'\n\tEl "{Diversidad_Mayor}" con la mayor diversidad biológica de  {Suma_mayor}')

print(f'\n\tFinaliza el programa de diversidades de especies por Area')

	El Área Norte	en plantas y animales [2819.0, 7236.0]	tiene una suma de 10055.0	 y una media de 5027.5

	El Área Leste	en plantas y animales [1440.0, 9492.0]	tiene una suma de 10932.0	 y una media de 5466.0

	El Área Sul	en plantas y animales [5969.0, 7496.0]	tiene una suma de 13465.0	 y una media de 6732.5

	El Área Oeste	en plantas y animales [14446.0, 49688.0]	tiene una suma de 64134.0	 y una media de 32067.0

	El Área Centro	en plantas y animales [22558.0, 45148.0]	tiene una suma de 67706.0	 y una media de 33853.0

	 Media general de especies: 16629.2

	El "Área Centro" con la mayor diversidad biológica de  67706.0

	Finaliza el programa de diversidades de especies por Area

In [ ]:
Dicc_RH_EdadSector = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
Meddia_EdadXsector = 0
Media_edad_general_suma = 0
Suma_total_edades = 0
for Sector_RH, Edad_RH in Dicc_RH_EdadSector.items():
  Media_edad_sector = sum(Edad_RH)/len(Edad_RH)
  print(f'\n\tEl sector {Sector_RH} tiene una media de {Media_edad_sector}')
  Media_edad_general_suma += Media_edad_sector
  Suma_total_edades += sum(Edad_RH)
Media_edad_general = Suma_total_edades/(len(Dicc_RH_EdadSector)*len(Edad_RH))
print(f'\n\tLa suma total de edades es  de {Suma_total_edades}')
print(f'\n\tLa media de edad general es de {Media_edad_general}')
print(f'\n\tFinaliza el programa de edades por sector')

	El sector Setor A tiene una media de 39.9

	El sector Setor B tiene una media de 42.3

	El sector Setor C tiene una media de 35.8

	El sector Setor D tiene una media de 36.5

	La suma total de edades es  de 1545

	La media de edad general es de 38.625

	Finaliza el programa de edades por sector